<%= p do %>
  Dear <%= @booking_request.name %>,
<% end %>

<%= p do %>
  Thank you for requesting a Pension Wise appointment. We’ll confirm the date in the new year.
<% end %>

<%= p do %>
  Your requested dates (UK local time):
  <br><br>
  <strong class="emphasize">
    <%= @booking_request.primary_slot %>
  </strong>
<% end %>

<%= p do %>
  or
  <br><br>
  <strong class="emphasize">
    <%= @booking_request.secondary_slot %>
  </strong>
<% end if @booking_request.secondary_slot %>

<%= p do %>
  or
  <br><br>
  <strong class="emphasize">
    <%= @booking_request.tertiary_slot %>
  </strong>
<% end if @booking_request.tertiary_slot %>

<%= p do %>
  Appointment location:
  <br>
  <strong class="emphasize">
    <%= @actual_location.name %>
  </strong>
<% end %>

<%= p do %>
  Your phone number:
  <br>
  <strong class="emphasize">
    <%= @booking_request.phone %>
  </strong>
<% end %>

<%= p do %>
  Memorable word:
  <br>
  <strong class="emphasize">
    <%= @booking_request.memorable_word(obscure: true) %>
  </strong>
<% end %>

<%= p do %>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @booking_request.reference %>
  </strong>
<% end %>

<%= p do %>
  Call <%= @actual_location.online_booking_twilio_number %> or email us to change or cancel your booking request. You may be asked for your booking reference number.
<% end %>

<%= p do %>
  Pension Wise collects and stores personal data for the purpose of delivering pensions guidance.
<% end %>

<%= p do %>
  Your data will be shared with our delivery partners only where it is necessary to provide you with Pension Wise guidance.
<% end %>

<%= p do %>
  Full details of our privacy policy, including information on your rights in relation to the data we hold can be found at <a href="https://www.pensionwise.gov.uk/en/privacy/">https://www.pensionwise.gov.uk/en/privacy</a>.
<% end %>
