<div class="page-header">
  <ol class="breadcrumb">
    <li><%= link_to 'Appointment planner', root_path %></li>
    <li class="active">Booking requests</li>
  </ol>

  <h1>Booking requests</h1>

  <% if show_hidden_booking_requests? %>
    <%= link_to 'Hide hidden booking requests', booking_requests_path(hidden: false), class: 't-hide-hidden-bookings' %>
  <% else %>
    <%= link_to 'Show hidden booking requests', booking_requests_path(hidden: true), class: 't-show-hidden-bookings' %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @booking_requests.page.empty? %>
      <p class="no-content t-notice">No booking requests requiring attention.</p>
    <% else %>
      <%= paginate @booking_requests.entities %>

      <table class="table table-bordered">
        <thead>
          <tr class="table-header">
            <th>Requested</th>
            <th>Customer name</th>
            <th>Location</th>
            <th>Slots</th>
            <th>Reference</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @booking_requests.page.each do |booking_request| %>
            <tr class="t-booking-request">
              <td>
                <%= time_ago_in_words(booking_request.updated_at) %> ago
              </td>
              <td>
                <%= booking_request.name %>
              </td>
              <td>
                <a href="https://www.pensionwise.gov.uk/locations/<%= booking_request.location_id %>"><%= booking_request.location_name %></a>
              </td>
              <td>
                <%= booking_request.primary_slot %><br>
                <%= booking_request.secondary_slot %><br>
                <%= booking_request.tertiary_slot %>
              </td>
              <td>
                <%= booking_request.reference %>
              </td>
              <td>
                <%= link_to('Fulfil', new_booking_request_appointment_path(booking_request), class: 'btn btn-primary t-fulfil') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @booking_requests.entities %>
    <% end %>
  </div>
</div>
