<% content_for(:head) do %>
  <%= stylesheet_link_tag "fullcalendar/dist/fullcalendar" %>
  <%= stylesheet_link_tag "fullcalendar-scheduler/dist/scheduler" %>
<% end %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Appointment planner</a></li>
    <li><a href="<%= booking_requests_index_path %>">Booking requests</a></li>
    <li><%= link_to(@booking_request.name, booking_requests_show_path(:id => @booking_request.id)) %></li>
    <li class="active">Find a slot</li>
  </ol>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="SlotPicker-choice is-chosen">
      <div class="SlotPicker-choiceInner">
        <div class="SlotPicker-position"><span>1</span></div>
        <div class="SlotPicker-choiceContent">
          <p class="SlotPicker-date"><%= @booking_request.slots[0].date.strftime('%A, %b %e') %></p>
          <p class="SlotPicker-time">
          <%= @booking_request.slots[0].period.capitalize %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="SlotPicker-choice is-chosen">
      <div class="SlotPicker-choiceInner">
        <div class="SlotPicker-position"><span>2</span></div>
        <div class="SlotPicker-choiceContent">
          <p class="SlotPicker-date"><%= @booking_request.slots[1].date.strftime('%A, %b %e') %></p>
          <p class="SlotPicker-time">
          <%= @booking_request.slots[1].period.capitalize %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="SlotPicker-choice is-chosen">
      <div class="SlotPicker-choiceInner">
        <div class="SlotPicker-position"><span>3</span></div>
        <div class="SlotPicker-choiceContent">
          <p class="SlotPicker-date"><%= @booking_request.slots[2].date.strftime('%A, %b %e') %></p>
          <p class="SlotPicker-time">
          <%= @booking_request.slots[2].period.capitalize %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="calendar" class="scheduler"></div>
  </div>
</div>
