<% content_for(:page_title, t('service.title', page_title: "Edit schedule for #{@location.name}")) %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Appointment planner</a></li>
    <li><a href="<%= schedules_path %>">Schedules</a></li>
    <li class="active">Edit schedule for <%= @location.name %></li>
  </ol>

  <h1>Edit schedule for <%= @location.name %></h1>
</div>

<%= form_for @schedule do |f| %>
  <%= f.hidden_field :location_id %>
  <div class="weekly-schedule weekly-schedule--day-labels" aria-hidden="true">
    <div class="weekly-schedule__day-label">
      Monday
    </div>
    <div class="weekly-schedule__day-label">
      Tuesday
    </div>
    <div class="weekly-schedule__day-label">
      Wednesday
    </div>
    <div class="weekly-schedule__day-label">
      Thursday
    </div>
    <div class="weekly-schedule__day-label">
      Friday
    </div>
  </div>
  <div class="weekly-schedule form-group">
    <div class="weekly-schedule__day">
      <%= f.check_box :monday_am, class: 'weekly-schedule__switch t-monday-am', id: 'monday-am' %>
      <label class="weekly-schedule__label" for="monday-am">
        <span class="weekly-schedule__day-name">Monday</span> AM
      </label>

      <%= f.check_box :monday_pm, class: 'weekly-schedule__switch t-monday-pm', id: 'monday-pm' %>
      <label class="weekly-schedule__label" for="monday-pm">
        <span class="weekly-schedule__day-name">Monday</span> PM
      </label>
    </div>
    <div class="weekly-schedule__day">
      <%= f.check_box :tuesday_am, class: 'weekly-schedule__switch t-tuesday-am', id: 'tuesday-am' %>
      <label class="weekly-schedule__label" for="tuesday-am">
        <span class="weekly-schedule__day-name">Tuesday</span> AM
      </label>

      <%= f.check_box :tuesday_pm, class: 'weekly-schedule__switch t-tuesday-pm', id: 'tuesday-pm' %>
      <label class="weekly-schedule__label" for="tuesday-pm">
        <span class="weekly-schedule__day-name">Tuesday</span> PM
      </label>
    </div>
    <div class="weekly-schedule__day">
      <%= f.check_box :wednesday_am, class: 'weekly-schedule__switch t-wednesday-am', id: 'wednesday-am' %>
      <label class="weekly-schedule__label" for="wednesday-am">
        <span class="weekly-schedule__day-name">Wednesday</span> AM
      </label>

      <%= f.check_box :wednesday_pm, class: 'weekly-schedule__switch t-wednesday-pm', id: 'wednesday-pm' %>
      <label class="weekly-schedule__label" for="wednesday-pm">
        <span class="weekly-schedule__day-name">Wednesday</span> PM
      </label>
    </div>
    <div class="weekly-schedule__day">
      <%= f.check_box :thursday_am, class: 'weekly-schedule__switch t-thursday-am', id: 'thursday-am' %>
      <label class="weekly-schedule__label" for="thursday-am">
        <span class="weekly-schedule__day-name">Thursday</span> AM
      </label>

      <%= f.check_box :thursday_pm, class: 'weekly-schedule__switch t-thursday-pm', id: 'thursday-pm' %>
      <label class="weekly-schedule__label" for="thursday-pm">
        <span class="weekly-schedule__day-name">Thursday</span> PM
      </label>
    </div>
    <div class="weekly-schedule__day">
      <%= f.check_box :friday_am, class: 'weekly-schedule__switch t-friday-am', id: 'friday-am' %>
      <label class="weekly-schedule__label" for="friday-am">
        <span class="weekly-schedule__day-name">Friday</span> AM
      </label>

      <%= f.check_box :friday_pm, class: 'weekly-schedule__switch t-friday-pm', id: 'friday-pm' %>
      <label class="weekly-schedule__label" for="friday-pm">
        <span class="weekly-schedule__day-name">Friday</span> PM
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.button 'Save', class: 'btn btn-primary t-submit' %>
  </div>
<% end %>
