<% if @appointment.welsh? %>
<div class="alert alert-warning" role="alert">
  <p>This appointment will be delivered in Welsh.</p>
</div>
<% end %>

<% if @appointment.third_party? %>
<div class="alert alert-warning" role="alert">
  <p>
  This appointment will be delivered to a <strong>third party</strong> on behalf of the data subject.
  </p>
</div>
<% end %>

<% if @appointment.bsl? %>
<div class="alert alert-warning" role="alert">
  <p>
  The customer has requested a <strong>BSL</strong> appointment.
  </p>
</div>
<% end %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li class="active"><%= @appointment.name %></li>
  </ol>


  <h1>Manage appointment for <%= @appointment.name %> <small><%= @appointment.reference %></small></h1>
  <h3 class="t-booking-location"><%= @appointment.booking_location_name %> <small><%= @appointment.status.titleize %></small></h3>
</div>

<%= render partial: 'activities/activity_feed', locals: {
  activities: @activities,
  booking_request: @appointment.booking_request
} %>

<div class="row">
  <div class="col-md-4">
    <h3 class="h4">Booked appointment</h3>
    <p class="lead">
      <strong><%= @appointment.proceeded_at.to_s(:govuk_date) %></strong>
    </p>

    <% if @appointment.agent_id? %>
    <hr>
    <h3 class="h4">Agent</h3>
    <p class="lead">
      <strong><%= @appointment.agent.name %></strong>
    </p>
    <% end %>

    <hr>
    <h3 class="h4">Created at</h3>
    <p class="lead">
      <strong><%= @appointment.created_at.in_time_zone('London').to_s(:govuk_date) %></strong>
    </p>

    <hr>
    <h3 class="h4">Location</h3>
    <p class="lead">
      <strong>
        <a href="https://www.pensionwise.gov.uk/locations/<%= @appointment.location_id %>" class="t-location-name">
          <%= guard_missing_location(@appointment, :location_name) %>
        </a>
      </strong>
    </p>

    <% if @appointment.email? %>
      <hr>
      <%= button_to(
            'Resend email confirmation',
            booking_request_confirmation_path(@appointment.booking_request),
            class: 'btn btn-default btn-block t-resend-confirmation',
            data: { confirm: 'Are you sure?' }
        )
      %>
    <% end %>
    <% unless @appointment.cancelled? %>
      <hr>
      <%= button_to(
            'Cancel the appointment',
            appointment_cancel_path(@appointment),
            class: 'btn btn-default btn-block t-cancel',
            data: { confirm: 'Are you sure?' }
        )
      %>
    <% end %>
  </div>

  <%= form_for @appointment, url: agent_appointment_path(@appointment), layout: :basic, errors: { icons: false } do |f| %>
    <div class="col-md-8 l-appointment-details">
      <div class="well">
        <% if @appointment.errors.any? %>
          <div class="alert alert-danger t-errors" role="alert">
            <h3 class="alert__heading h4">There's a problem</h3>
            <ul>
              <% @appointment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <h2 class="h3">Customer details</h2>
              <%= f.text_field :name, class: 'form-control t-name' %>
              <%= f.text_field :email, class: 'form-control t-email' %>
              <%= f.text_field :phone, class: 'form-control t-phone' %>
              <%= f.text_field :memorable_word, class: 'form-control t-memorable-word' %>
              <%= render partial: 'shared/date_of_birth_form_field', locals: { form: f } %>
          </div>

          <div class="col-md-6" data-module="checkbox-toggle">
            <h2 class="h3">Appointment details</h2>
            <%= f.text_area :additional_info, class: 'form-control t-additional-info', rows: 5, maxlength: 500 %>
            <div class="form-group">
              <p><strong>Defined contribution pot confirmed?</strong></p>
              <%= f.radio_button :defined_contribution_pot_confirmed, true, class: 't-defined-contribution-pot-confirmed-yes', label: 'Yes' %>
              <%= f.radio_button :defined_contribution_pot_confirmed, false, class: 't-defined-contribution-pot-confirmed-dont-know', label: "Don't know" %>
            </div>
            <hr>

          <%= f.fields_for :booking_request, fieldset: false  do |booking_subform| %>
            <div class="form-group">
              <p><strong>Customer research consent?</strong></p>
              <%= booking_subform.radio_button :gdpr_consent, 'yes', class: 't-gdpr-consent-yes', label: 'Yes' %>
              <%= booking_subform.radio_button :gdpr_consent, 'no', class: 't-gdpr-consent-no', label: 'No' %>
              <%= booking_subform.radio_button :gdpr_consent, '', class: 't-gdpr-consent-no-response', label: 'No response' %>
            </div>
            <hr>

            <%= booking_subform.check_box :welsh, class: 't-welsh', label: 'Welsh language appointment?', readonly: true, disabled: true %>
            <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements',
                label: required_label('Access requirements?'), data: { target: 'adjustments' },
                help: @appointment.accessibility_information
            %>
            <div class="" id="adjustments">
              <%= booking_subform.text_area :adjustments, use_label: false, autocomplete: 'off', maxlength: 1000, class: 't-adjustments js-adjustments js-character-limit-input', rows: 6,
                placeholder: 'Any adjustments that may help you. We might contact you before your appointment for more information', data: { module: 'character-limit', maxlength: 1000 }
              %>
            </div>
            <%= booking_subform.check_box :bsl, class: 't-bsl-video', label: 'BSL appointment?' %>
            <%= f.check_box :third_party, class: 't-third-party', label: 'Third party appointment?', data: { target: 'consent' } %>
            <div id="consent">
              <p><strong>Pension pot holder details:</strong></p>
              <div class="form-group">
                <%= booking_subform.text_field :data_subject_name, autocomplete: false, class: 't-data-subject-name', label: required_label('Name'), placeholder: 'Name' %>
                <%= booking_subform.text_field(
                    :data_subject_date_of_birth,
                    autocomplete: false,
                    label: required_label('Date of birth'),
                    class: 'form-control input-md-2 t-data-subject-date-of-birth js-date-time-picker',
                    placeholder: 'eg 01/01/1950',
                    data: {
                      config: {
                        showDropdowns: true,
                        autoUpdateInput: false,
                        minDate: '01/01/1920',
                        maxDate: '01/01/1976',
                        locale: { format: 'DD/MM/YYYY' }
                      }
                    }
                  )
                %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.button "Update appointment details for #{@appointment.name}", class: 'btn-block t-submit', context: :primary %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
