<% if @appointment.welsh? %>
<div class="alert alert-warning" role="alert">
  <p>This appointment will be delivered in Welsh.</p>
</div>
<% end %>

<% if @appointment.third_party? %>
<div class="alert alert-warning" role="alert">
  <p>
  This appointment will be delivered to a <strong>third party</strong> on behalf of the data subject.
  </p>
</div>
<% end %>

<% if @appointment.bsl? %>
<div class="alert alert-warning" role="alert">
  <p>
  The customer has requested a <strong>BSL</strong> appointment.
  </p>
</div>
<% end %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li class="active"><%= @appointment.name %></li>
  </ol>


  <h1>Manage appointment for <%= @appointment.name %> <small><%= @appointment.reference %></small></h1>
  <h3 class="t-booking-location"><%= @appointment.booking_location_name %> <small><%= @appointment.status.titleize %></small></h3>
</div>

<%= render partial: 'activities/activity_feed', locals: {
  activities: @activities,
  booking_request: @appointment.booking_request
} %>

<div class="row">
  <div class="col-md-4">
    <h3 class="h4">Booked appointment</h3>
    <p class="lead">
      <strong><%= @appointment.proceeded_at.to_s(:govuk_date) %></strong>
    </p>

    <% if @appointment.agent_id? %>
    <hr>
    <h3 class="h4">Agent</h3>
    <p class="lead">
      <strong><%= @appointment.agent.name %></strong>
    </p>
    <% end %>

    <hr>
    <h3 class="h4">Created at</h3>
    <p class="lead">
      <strong><%= @appointment.created_at.in_time_zone('London').to_s(:govuk_date) %></strong>
    </p>

    <hr>
    <h3 class="h4">Location</h3>
    <p class="lead">
      <strong>
        <a href="https://www.pensionwise.gov.uk/locations/<%= @appointment.location_id %>" class="t-location-name">
          <%= guard_missing_location(@appointment, :location_name) %>
        </a>
      </strong>
    </p>

    <% if @appointment.email? %>
      <hr>
      <%= button_to(
            'Resend email confirmation',
            booking_request_confirmation_path(@appointment.booking_request),
            class: 'btn btn-default btn-block t-resend-confirmation',
            data: { confirm: 'Are you sure?' }
        )
      %>
    <% end %>
    <% unless @appointment.cancelled? %>
      <hr>
      <%= button_to(
            'Cancel the appointment',
            appointment_cancel_path(@appointment),
            class: 'btn btn-default btn-block t-cancel',
            data: { confirm: 'Are you sure?' }
        )
      %>
    <% end %>
  </div>

  <%= form_for @appointment, url: agent_appointment_path(@appointment), layout: :basic, errors: { icons: false } do |f| %>
    <div class="col-md-8 l-appointment-details">
      <div class="well">
        <% if @appointment.errors.any? %>
          <div class="alert alert-danger t-errors" role="alert">
            <h3 class="alert__heading h4">There's a problem</h3>
            <ul>
              <% @appointment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <h2 class="h3">Customer details</h2>
              <%= f.text_field :name, class: 'form-control t-name' %>
              <%= f.text_field :email, class: 'form-control t-email' %>
              <%= f.text_field :phone, class: 'form-control t-phone' %>
              <%= f.text_field :memorable_word, class: 'form-control t-memorable-word' %>
              <%= render partial: 'shared/date_of_birth_form_field', locals: { form: f } %>
          </div>

          <div class="col-md-6" data-module="checkbox-toggle">
            <h2 class="h3">Appointment details</h2>
            <%= f.text_area :additional_info, class: 'form-control t-additional-info', rows: 5, maxlength: 500 %>
            <div class="form-group">
              <p><strong>Defined contribution pot confirmed?</strong></p>
              <%= f.radio_button :defined_contribution_pot_confirmed, true, class: 't-defined-contribution-pot-confirmed-yes', label: 'Yes' %>
              <%= f.radio_button :defined_contribution_pot_confirmed, false, class: 't-defined-contribution-pot-confirmed-dont-know', label: "Don't know" %>
            </div>
            <hr>

            <%= f.fields_for :booking_request, fieldset: false  do |booking_subform| %>
            <%= booking_subform.check_box :welsh, class: 't-welsh', label: 'Welsh language appointment?', readonly: true, disabled: true %>
            <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements', label: 'Accessibility requirements?', help: @appointment.accessibility_information %>

            <%= booking_subform.check_box :bsl, class: 't-bsl-video', label: 'BSL appointment?' %>
            <%= f.check_box :third_party, class: 't-third-party', label: 'Third party appointment?', data: { target: 'consent' } %>
            <div id="consent">
              <p><strong>This appointment will be delivered to a third party on behalf of the data subject:</strong></p>
              <div class="form-group">
                <%= booking_subform.text_field :data_subject_name, autocomplete: false, class: 't-data-subject-name', label: required_label('Name'), placeholder: 'Name' %>
                <%= booking_subform.text_field(
                    :data_subject_date_of_birth,
                    label: required_label('Date of birth'),
                    class: 'form-control input-md-2 t-data-subject-date-of-birth js-date-time-picker',
                    placeholder: 'eg 01/01/1950',
                    data: {
                      config: {
                        showDropdowns: true,
                        autoUpdateInput: false,
                        minDate: '01/01/1920',
                        maxDate: '01/01/1976',
                        locale: { format: 'DD/MM/YYYY' }
                      }
                    }
                  )
                %>
              </div>

              <%= booking_subform.check_box :data_subject_consent_obtained, class: 't-data-subject-consent-obtained', data: { target: 'data-subject-consent' } %>
              <div class="col-md-offset-1" id="data-subject-consent">
                <% if booking_subform.object.data_subject_consent_evidence.attached? %>
                  <%= link_to rails_blob_path(booking_subform.object.data_subject_consent_evidence, disposition: 'attachment'), class: 'btn btn-info t-consent-download' do %>
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                    <span><%= booking_subform.object.data_subject_consent_evidence.filename %></span>
                  <% end %>
                  <hr>
                <% end %>

                <%= booking_subform.file_field :data_subject_consent_evidence, class: 't-data-subject-consent-evidence' %>
              </div>

              <%= booking_subform.check_box :power_of_attorney, class: 't-power-of-attorney', data: { target: 'power-of-attorney' } %>
              <div class="col-md-offset-1" id="power-of-attorney">
                <% if booking_subform.object.power_of_attorney_evidence.attached? %>
                  <%= link_to rails_blob_path(booking_subform.object.power_of_attorney_evidence, disposition: 'attachment'), class: 'btn btn-info t-power-of-attorney-download' do %>
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                    <span><%= booking_subform.object.power_of_attorney_evidence.filename %></span>
                  <% end %>
                  <hr>
                <% end %>

                <%= booking_subform.file_field :power_of_attorney_evidence %>
              </div>

              <%= booking_subform.check_box :email_consent_form_required, class: 't-email-consent-form-required', data: { target: 'email-consent' } %>
              <div id="email-consent">
                <%= booking_subform.email_field :email_consent, autocomplete: 'off', class: 't-email-consent', label: 'Consent email', placeholder: 'A consent form is sent to this email' %>
              </div>

              <%= booking_subform.check_box :printed_consent_form_required, class: 't-printed-consent-form-required', data: { target: 'printed-consent' } %>
              <div id="printed-consent">
                <h2 class="h4" data-module="postcode-lookup"
                               data-postcode-api-key="<%= postcode_api_key %>"
                               data-lookup-input="#consent-postcode-lookup-input"
                               data-lookup-button="#consent-postcode-lookup-button"
                               data-results-container="#consent-postcode-lookup-results-container"
                               data-output-field-prefix="#appointment_booking_request_attributes_consent"
                               >Printed consent form address</h2>
                <div class="form-group form-inline postcode-lookup" id="consent-postcode-lookup">
                  <label for="appointment_summary_lookup">Postcode or address to search for</label><br>
                  <input class="form-control input-md-3 add-right-margin t-printed-consent-form-postcode-lookup" placeholder="Enter postcode or address" type="text" id="consent-postcode-lookup-input" />
                  <button class="btn btn-success btn-sm" onclick="return false" id="consent-postcode-lookup-button">Find UK address</button>
                </div>
                <div class="form-group form-inline" id="consent-postcode-lookup-results-container"></div>

                <%= booking_subform.text_field :consent_address_line_one, autocomplete: 'off', class: 't-consent-address-line-one', label: 'Building and street', placeholder: 'Address line one' %>
                <%= booking_subform.text_field :consent_address_line_two, autocomplete: 'off', class: 't-consent-address-line-two', use_label: false, placeholder: 'Address line two' %>
                <%= booking_subform.text_field :consent_address_line_three, autocomplete: 'off', class: 't-consent-address-line-three', use_label: false, placeholder: 'Address line three' %>
                <%= booking_subform.text_field :consent_town, autocomplete: 'off', class: 't-consent-town', label: 'Town', placeholder: 'Town' %>
                <%= booking_subform.text_field :consent_county, autocomplete: 'off', class: 't-consent-county', label: 'County (optional)', placeholder: 'County' %>
                <%= booking_subform.text_field :consent_postcode, autocomplete: 'off', class: 't-consent-postcode', label: 'Postcode', placeholder: 'Postcode' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.button "Update appointment details for #{@appointment.name}", class: 'btn-block t-submit', context: :primary %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
