<% content_for(:page_title, t('service.title', page_title: "Book appointment at #{location.name}")) %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li><a href="<%= root_path %>">Appointments</a></li>
    <li class="active"><%= location.name %></li>
  </ol>

  <h1>Book appointment at <%= location.name %></h1>
</div>

<%= form_for @booking,
    layout: :basic,
    url: preview_agent_booking_requests_path(location_id: location_id),
    as: :booking do |f|
%>
<div class="col-md-12 l-appointment-details">
  <div class="well">
    <% if @booking.errors.any? %>
      <div class="alert alert-danger t-errors" role="alert">
        <h3 class="alert__heading h4">There's a problem</h3>
        <ul>
          <% @booking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <h2 class="h3">Choose available slot</h2>
        <% @grouped_slots ||= slots_by_month(slots, include_bsl: true) %>
        <div class="form-group col-md-4">
          <%= f.select :first_choice_slot,
            grouped_options_for_select(@grouped_slots, @booking.first_choice_slot),
            { include_blank: true, use_label: false },
            class: 'form-control t-first-choice-slot'
          %>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6" data-module="checkbox-toggle">
        <h2 class="h3">Customer details</h2>
        <%= f.text_field :name, class: 'form-control t-name' %>
        <%= f.text_field :phone, class: 'form-control t-phone', help: 'We will use this to send an SMS appointment reminder by 8am - 72 hours before the appointment. Customers can cancel appointments via SMS' %>
        <%= f.text_field :email, class: 'form-control t-email', help: 'OK <em>(name)</em>, I am going to repeat this to you phonetically as we will send your appointment confirmation by email and I want to ensure you receive this'.html_safe %>
        <%= f.text_field :memorable_word, class: 'form-control t-memorable-word', help: 'We use this each time the customer is called. Avoid using the same word from a different account or service' %>
          <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements',
            label: "Do you have any access requirements you'd like us to be aware of?", data: { target: 'adjustments' },
            help: location.accessibility_information
          %>
          <div class="" id="adjustments">
            <%= f.text_area :adjustments, use_label: false, autocomplete: 'off', maxlength: 1000, class: 't-adjustments js-adjustments js-character-limit-input', rows: 6,
              placeholder: 'Any adjustments that may help you. We might contact you before your appointment for more information', data: { module: 'character-limit', maxlength: 1000 }
            %>
          </div>
        <%= f.check_box :video_appointment, class: 't-video-appointment', label: 'Video appointment?' %>
        <%= f.check_box :bsl, class: 't-bsl-video', label: 'BSL appointment?' %>
        <%= f.check_box :nudged, class: 't-nudged', label: 'Stronger Nudge signposting?' %>
        <%= f.check_box :third_party, class: 't-third-party', label: 'Third party appointment?', data: { target: 'consent' } %>

        <div id="consent">
          <p><strong>Pension pot holder details:</strong></p>
          <div class="form-group">
            <%= f.text_field :data_subject_name, autocomplete: false, class: 't-data-subject-name', label: required_label('Name'), placeholder: 'Name' %>
            <%= f.text_field(
                :data_subject_date_of_birth,
                autocomplete: false,
                label: required_label('Date of birth'),
                class: 'form-control input-md-2 t-data-subject-date-of-birth js-date-time-picker',
                placeholder: 'eg 01/01/1950',
                data: {
                  config: {
                    showDropdowns: true,
                    autoUpdateInput: false,
                    minDate: '01/01/1920',
                    maxDate: '01/01/1976',
                    locale: { format: 'DD/MM/YYYY' }
                  }
                }
              )
            %>
          </div>
        </div>

        <hr>

        <h2 class="h3">Eligibility</h2>
        <div class="form-group">
          <%= f.text_field(
              :date_of_birth,
              autocomplete: false,
              class: 'form-control input-md-2 t-date-of-birth js-date-time-picker',
              placeholder: 'eg 01/01/1950',
              data: {
                config: {
                  showDropdowns: true,
                  autoUpdateInput: false,
                  minDate: '01/01/1920',
                  maxDate: '01/01/1976',
                  locale: { format: 'DD/MM/YYYY' }
                }
              }
            )
          %>
        </div>

        <hr>

        <h2 class="h3">Research</h2>
        <div class="form-group">
          <p><strong>Customer research consent</strong></p>
          <%= f.radio_button :gdpr_consent, 'yes', label: 'Yes', class: 't-gdpr-consent-yes' %>
          <%= f.radio_button :gdpr_consent, 'no', label: 'No', class: 't-gdpr-consent-no' %>
        </div>

      </div>
      <div class="col-md-6">
        <h2 class="h3" data-module="postcode-lookup"
                       data-postcode-api-key="<%= postcode_api_key %>"
                       data-lookup-input="#postcode-lookup-input"
                       data-lookup-button="#postcode-lookup-button"
                       data-results-container="#postcode-lookup-results-container"
                       data-output-field-prefix="#booking"
                       >Confirmation address <small>(required if no email address)</small></h2>
        <div class="form-group form-inline postcode-lookup" id="postcode-lookup">
          <label for="appointment_summary_lookup">Postcode or address to search for</label><br>
          <input class="form-control input-md-3 add-right-margin t-postcode-lookup" placeholder="Enter postcode or address" type="text" id="postcode-lookup-input" />
          <button class="btn btn-success btn-sm" onclick="return false" id="postcode-lookup-button">Find UK address</button>
        </div>
        <div class="form-group form-inline" id="postcode-lookup-results-container"></div>

        <%= f.text_field :address_line_one, label: required_label('Building and street'), class: 'form-control t-address-line-one' %>
        <%= f.text_field :address_line_two, use_label: false, class: 'form-control t-address-line-two' %>
        <%= f.text_field :address_line_three, use_label: false, class: 'form-control t-address-line-three' %>
        <%= f.text_field :town, class: 'form-control t-town' %>
        <%= f.text_field :county, label: 'County (optional)', class: 'form-control t-county' %>
        <%= f.text_field :postcode, class: 'form-control t-postcode' %>

        <hr>
        <h2 class="h3">Additional information</h2>
        <div class="form-group">
          <%= f.text_area :additional_info, use_label: false,
            class: 'form-control t-additional-info',
            rows: 5, maxlength: 500,
            placeholder: 'Please add any additional information here that may be helpful for the appointment'
          %>
        </div>
        <%= f.select :where_you_heard,
          options_for_select(WhereYouHeard::OPTIONS.invert.to_a, @booking.where_you_heard),
          { include_blank: true, label: 'Where did you first hear of Pension Wise?' },
          class: 't-where-you-heard form-control'
        %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.button "Preview appointment at #{location.name}", class: 't-preview btn-block', context: :primary %>
  </div>
</div>
<% end %>

<script type="text/html" id="postcode-lookup-template">
  <div class="form-group form-inline postcode-lookup" id="postcode-lookup">
    <label for="appointment_summary_lookup" class="sr-only">Postcode or address to search for</label><br>
    <input class="form-control input-md-3 add-right-margin" placeholder="Enter postcode or address" type="text" id="postcode-lookup-input" />
    <button class="btn btn-success btn-sm" onclick="return false" id="postcode-lookup-button">Find UK address</button>
  </div>
  <div class="form-group form-inline" id="postcode-lookup-results-container">
  </div>
</script>
