<% content_for(:page_title, t('service.title', page_title: "Make booking request at #{location.name}")) %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li><a href="<%= root_path %>">Booking requests</a></li>
    <li class="active"><%= location.name %></li>
  </ol>

  <h1>Make booking request at <%= location.name %></h1>
</div>

<%= form_for @booking,
    url: preview_agent_booking_requests_path(location_id: location_id),
    as: :booking do |f|
%>
<div class="col-md-12 l-appointment-details">
  <div class="well">
    <% if @booking.errors.any? %>
      <div class="alert alert-danger t-errors" role="alert">
        <h3 class="alert__heading h4">There's a problem</h3>
        <ul>
          <% @booking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <h2 class="h3">Desired slots</h2>
        <p class="lead">
          I can request three different slots for your
          appointment. At this stage I can only take a preference for morning or
          afternoon. You will be contacted within 2 working days to confirm the
          actual date and time of the booking.
        </p>

        <% @grouped_slots ||= slots_by_month(slots) %>
        <div class="form-group col-md-4">
          <%= f.label :first_choice_slot %>
          <%= f.select :first_choice_slot,
            grouped_options_for_select(@grouped_slots, @booking.first_choice_slot),
            { include_blank: true },
            class: 'form-control t-first-choice-slot'
          %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :second_choice_slot %>
          <%= f.select :second_choice_slot,
            grouped_options_for_select(@grouped_slots, @booking.second_choice_slot),
            { include_blank: true },
            class: 'form-control t-second-choice-slot'
          %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :third_choice_slot %>
          <%= f.select :third_choice_slot,
            grouped_options_for_select(@grouped_slots, @booking.third_choice_slot),
            { include_blank: true },
            class: 'form-control t-third-choice-slot'
          %>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h2 class="h3">Customer details</h2>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control t-name' %>
        </div>
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control t-phone' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control t-email', 'data-email-validation': true %>
        </div>
        <div class="form-group">
          <%= f.label :memorable_word %>
          <%= f.text_field :memorable_word, class: 'form-control t-memorable-word' %>
        </div>
        <div class="form-group">
          <%= f.label :accessibility_requirements, class: 'checkbox-inline checkbox-inline--accessibility' do %>
            <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements' %> Accessibility requirements?
          <% end %>
        </div>
        <hr>

        <h2 class="h3">Eligibility</h2>
        <div class="form-group">
          <%= f.label :date_of_birth %>
          <%= f.text_field(
              :date_of_birth,
              class: 'form-control input-md-2 t-date-of-birth js-date-time-picker',
              placeholder: 'eg 01/01/1950',
              data: {
                config: {
                  showDropdowns: true,
                  autoUpdateInput: false,
                  minDate: '01/01/1920',
                  maxDate: '01/01/1976',
                  locale: { format: 'DD/MM/YYYY' }
                }
              }
            )
          %>
        </div>
        <div class="form-group">
          <p><b>Defined contribution pot confirmed?</b></p>
          <%= f.label :defined_contribution_pot_confirmed, value: true, class: 'radio-inline' do %>
            <%= f.radio_button :defined_contribution_pot_confirmed, true, class: 't-defined-contribution-pot-confirmed-yes' %>
            Yes
          <% end %>

          <%= f.label :defined_contribution_pot_confirmed, value: false, class: 'radio-inline' do %>
            <%= f.radio_button :defined_contribution_pot_confirmed, false, class: 't-defined-contribution-pot-confirmed-dont-know' %>
            Don’t know
          <% end %>
        </div>

        <hr>

        <h2 class="h3">Research</h2>
        <div class="form-group">
          <p><strong>Customer research consent</strong></p>
          <p class="help-block">
            Your feedback helps us improve the service. Is it OK if we share your
            contact details with our trusted research partner? Ipsos MORI may
            contact you to ask if you would like to provide feedback and you can
            decide then if you want to take part.
          </p>

          <%= f.label :gdpr_consent, value: 'yes', class: 'radio-inline' do %>
            <%= f.radio_button :gdpr_consent, 'yes', class: 't-gdpr-consent-yes' %>
            Yes
          <% end %>
          <%= f.label :gdpr_consent, value: 'no', class: 'radio-inline' do %>
            <%= f.radio_button :gdpr_consent, 'no', class: 't-gdpr-consent-no' %>
            No
          <% end %>
          <%= f.label :gdpr_consent, value: '', class: 'radio-inline' do %>
            <%= f.radio_button :gdpr_consent, '', class: 't-gdpr-consent-no-response' %>
            No response
          <% end %>
        </div>

      </div>
      <div class="col-md-6">
        <h2 class="h3" id="postal-address-heading" data-postcode-api-key="<%= postcode_api_key %>">Confirmation address <small>(required if no email address)</small></h2>
        <div class="form-group">
          <%= f.label :address_line_one do %>
            Building and street <span class="sr-only">line one</span>
          <% end %>
          <%= f.text_field :address_line_one, class: 'form-control t-address-line-one' %>
        </div>
        <div class="form-group">
          <%= f.label :address_line_two, class: 'sr-only' %>
          <%= f.text_field :address_line_two, class: 'form-control t-address-line-two' %>
        </div>
        <div class="form-group">
          <%= f.label :address_line_three, class: 'sr-only' %>
          <%= f.text_field :address_line_three, class: 'form-control t-address-line-three' %>
        </div>
        <div class="form-group">
          <%= f.label :town %>
          <%= f.text_field :town, class: 'form-control t-town' %>
        </div>
        <div class="form-group">
          <%= f.label :county, 'County (optional)' %>
          <%= f.text_field :county, class: 'form-control t-county' %>
        </div>
        <div class="form-group">
          <%= f.label :postcode %>
          <%= f.text_field :postcode, class: 'form-control t-postcode' %>
        </div>

        <hr>
        <h2 class="h3">Additional info</h2>
        <div class="form-group">
          <%= f.label :additional_info %>
          <%= f.text_area :additional_info, class: 'form-control t-additional-info', rows: 5, maxlength: 500 %>
        </div>
        <div class="form-group">
          <%= f.label :where_you_heard, 'Where did you first hear of Pension Wise?' %>
          <%= f.select :where_you_heard,
            options_for_select(WhereYouHeard::OPTIONS.invert.to_a, @booking.where_you_heard),
            { include_blank: true},
            class: 't-where-you-heard form-control'
          %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.button class: 'btn btn-primary btn-block t-preview' do %>
      Preview booking request at <%= location.name %>
    <% end %>
  </div>
</div>
<% end %>

<script type="text/html" id="postcode-lookup-template">
  <div class="form-group form-inline postcode-lookup" id="postcode-lookup">
    <label for="appointment_summary_lookup" class="sr-only">Postcode or address to search for</label><br>
    <input class="form-control input-md-3 add-right-margin" placeholder="Enter postcode or address" type="text" id="postcode-lookup-input" />
    <button class="btn btn-success btn-sm" onclick="return false" id="postcode-lookup-button">Find UK address</button>
  </div>
  <div class="form-group form-inline" id="postcode-lookup-results-container">
  </div>
</script>
