<% content_for(:page_title, t('service.title', page_title: "Confirm booking request at #{location.name}")) %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Booking requests</a></li>
    <li class="active"><%= location.name %></li>
  </ol>

  <h1>Confirm booking request at <%= location.name %></h1>
</div>

<%= form_for @booking, as: :booking, url: agent_booking_requests_path(location_id: location_id), layout: :basic do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phone %>
  <%= f.hidden_field :memorable_word %>
  <%= f.hidden_field :first_choice_slot %>
  <%= f.hidden_field :second_choice_slot %>
  <%= f.hidden_field :third_choice_slot %>
  <%= f.hidden_field :date_of_birth %>
  <%= f.hidden_field :terms_and_conditions %>
  <%= f.hidden_field :defined_contribution_pot_confirmed %>
  <%= f.hidden_field :where_you_heard %>
  <%= f.hidden_field :accessibility_requirements %>
  <%= f.hidden_field :address_line_one %>
  <%= f.hidden_field :address_line_two %>
  <%= f.hidden_field :address_line_three %>
  <%= f.hidden_field :town %>
  <%= f.hidden_field :county %>
  <%= f.hidden_field :postcode %>
  <%= f.hidden_field :additional_info %>

  <% @booking = AgentBookingDecorator.new(@booking) %>

  <div class="t-preview booking-preview">
    <div class="row">
      <div class="col-md-8">
        <p class="alert alert-warning">
          This booking request has not yet been created.<br>Please check the details below and then click <b>Confirm booking request</b>.
        </p>

        <table class="table lead">
          <tbody>
            <tr>
              <td class="active" width="35%"><b>Customer name</b></td>
              <td><%= @booking.name %></td>
            </tr>
            <tr>
              <td class="active"><b>Desired slots</b></td>
              <td>
                <%= @booking.first_choice_slot %>
                <% if @booking.second_choice_slot %>
                  <br><%= @booking.second_choice_slot %>
                <% end %>
                <% if @booking.third_choice_slot %>
                  <br><%= @booking.third_choice_slot %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table lead">
          <tbody>
            <tr>
              <td class="active" width="35%"><b>Date of birth</b></td>
              <td><%= @booking.date_of_birth %></td>
            </tr>
            <% if @booking.email.present? %>
            <tr>
              <td class="active"><b>Email</b></td>
              <td><%= @booking.email %></td>
            </tr>
            <% end %>
            <tr>
              <td class="active"><b>Phone</b></td>
              <td><%= @booking.phone %></td>
            </tr>
            <tr>
              <td class="active"><b>Memorable word</b></td>
              <td><%= @booking.memorable_word %></td>
            </tr>
            <tr>
              <td class="active"><b>Accessibility requirements</b></td>
              <td><%= @booking.accessibility_requirements %></td>
            </tr>
          </tbody>
        </table>

        <% if @booking.address? %>
        <table class="table lead">
          <tbody>
            <tr>
              <td class="active" width="35%"><b>Confirmation address</b></td>
              <td>
                <%= @booking.address_line_one %><br>
                <% if @booking.address_line_two.present? %><%= @booking.address_line_two %><br><% end %>
                <% if @booking.address_line_three.present? %><%= @booking.address_line_three %><br><% end %>
                <%= @booking.town %><br>
                <% if @booking.county.present? %><%= @booking.county %><br><% end %>
                <%= @booking.postcode %>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>

        <% if @booking.additional_info.present? %>
        <table class="table lead">
          <tbody>
            <tr>
              <td class="active" width="35%"><b>Additional info</b></td>
              <td><%= @booking.additional_info %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
  <%= f.submit 'Confirm booking request', class: 'btn btn-default t-confirmation', data: { disable_with: 'Please wait...' } %>
  <%= f.submit 'Edit booking request', name: :editing, class: 'btn btn-danger t-edit-booking' %>
<% end %>
