<% content_for(:page_title, t('service.title', page_title: "Booking confirmed at #{location.name}")) %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li><a href="<%= root_path %>">Booking requests</a></li>
    <li class="active"><%= location.name %></li>
  </ol>

  <h1>Booking confirmed at <%= location.name %></h1>
</div>

<h3 class="bold-large">Reference: <%= @booking.reference %></h3>
<p class="lead">
I have submitted the booking request with your preferred dates. Citizens
Advice will confirm your appointment in writing within 2 business days,
including the number to call if you have a query or need to change or cancel
your appointment.
</p>
<hr>
<p>
  <%= link_to 'Go back and place another booking request', 'https://www.pensionwise.gov.uk/en/book-face-to-face', class: 'btn btn-primary' %>
</p>
