<% content_for(:page_title, t('service.title', page_title: "Booking confirmed at #{location.name}")) %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li><a href="<%= root_path %>">Booking requests</a></li>
    <li class="active"><%= location.name %></li>
  </ol>

  <h1>Booking confirmed at <%= location.name %></h1>
</div>

<p>
Your appointment request has been submitted with your preferred dates and the
appointment will last up to 45 minutes. Citizens Advice will contact you to
confirm your appointment within 2 working days.
</p>

<p>
Your reference number is <%= @booking.reference %>.
Please make a note of this number as you will need it if you want to rearrange
or cancel your appointment.
</p>

<p>To make the most of your appointment we recommend that you find out the following:
<ul>
  <li>how much is in your pension pot(s)</li>
  <li>an estimate of your State Pension</li>
</ul>
</p>

<hr>

<h3 class="bold-large">Have you already got this information?</h3>

<p>
<strong>NO ESTIMATE OF STATE PENSION</strong> - You can check your State
Pension online at https://www.gov.uk/future-pension-centre or call the Future
Pension Centre on 0800 731 0175 to ask for a statement.
</p>

<hr>
<p>
  <%= link_to 'Go back and place another booking request', 'https://www.pensionwise.gov.uk/en/book-face-to-face', class: 'btn btn-primary' %>
</p>
