<% content_for(:page_title, t('service.title', page_title: "Appointment confirmed at #{location.name}")) %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li><a href="<%= root_path %>">Appointments</a></li>
    <li class="active"><%= location.name %></li>
  </ol>

  <h1>Appointment confirmed at <%= location.name %></h1>
</div>
<p>
Your reference number is <%= @booking.reference %> and your appointment will
last around <%= appointment_duration(@booking) %> minutes. I have sent a confirmation <%=
confirmation_type(@booking) %> which will contain all the information you need
and will help you prepare for your appointment.
</p>

<p>
To make the most of your appointment we recommend that you find out the
following:
  <ul>
    <li>how much is in your pension pot(s)</li>
    <li>an estimate of your State Pension</li>
  </ul>
</p>

<hr>

<h3 class="bold-large">Have you already got this information?</h3>

<p>
<strong>NO ESTIMATE OF STATE PENSION</strong> - You can check your State
Pension online at https://www.gov.uk/future-pension-centre or call the Future
Pension Centre on 0800 731 0175 to ask for a statement.
</p>

<hr>

<p>
Just before you go, we have a customer satisfaction survey at the end of the
call. Would you mind completing it? It’s only 4 questions and won’t take very
long. I would really appreciate if you could leave your feedback.
</p>

<p>
If yes - great, thanks. Stay on the line and you will be transferred through.
</p>

<hr>

<p>
  <%= link_to 'Go back and place another appointment', 'https://www.moneyhelper.org.uk/pwf2f', class: 'btn btn-primary' %>
</p>
<span class="hidden t-reference"><%= @booking.appointment.id %></span>
