<% content_for(:page_title, t('service.title', page_title: "Realtime availability for #{@location.name}")) %>
<div class="page-header">
 <ol class="breadcrumb">
   <li><a href="<%= root_path %>">Planner</a></li>
   <li><%= link_to 'Schedules', schedules_path %></li>
   <li class="active">Realtime availability for <%= @location.name %></li>
 </ol>

 <h1>
   Realtime availability for <%= @location.name %><br>
   <small>Booking window from <%= @window.start.to_s(:govuk_date) %> to <%= @window.end.to_s(:govuk_date) %></small>
 </h1>
</div>

<div class="alert alert-success js-success t-success" role="alert" style="display:none;">
  <span class="glyphicon glyphicon-ok"></span> Slot was modified successfully.
</div>

<div
 id="RealtimeCalendar"
 class="js-calendar realtime-calendar t-calendar"
 data-module="realtime-calendar"
 data-default-date="<%= Time.zone.now.iso8601 %>"
 data-guiders-uri="<%= guiders_path(location_id: @location.id) %>"
 data-slots-uri="<%= realtime_bookable_slots_path(location_id: @location.id) %>"
 data-appointments-uri="<%= realtime_appointments_path(location_id: @location.id) %>">
</div>
