<p class="lead"><a href="<%= url_for(administrators_guiders_path) %>">
  <span class="glyphicon glyphicon-chevron-left"></span> Cancel, back to guiders
</a></p>

<h2>Bookable appointment times</h2>
<p class="lead">Use the panels below to manage or create the bookable appointment times for the guiders you have selected.</p>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h4>Guiders affected by this change:</h4>
  </div>
  <div class="panel-body">
    The guiders affected will be: <strong>Ben Barnett, Ben Lovell, Matt Lucht, Peter Guntrip </strong>and<strong> Lucinda Craig.</strong>
  </div>
</div>

<% periods.each_with_index do |period, period_index| %>
  <%
  startDate = period[0].strftime('%A, %b %e')
  endDate = period[1] ? period[1].strftime('%A, %b %e') : 'onwards'

  slots = slots_by_group(period_index)
  %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a class="collapsable__trigger collapsed" role="button" data-toggle="collapse" href="#period<%= period_index %>" aria-expanded="false">
          <%= startDate %> → onwards
        </a>

        <span class="glyphicon glyphicon-plus collapsable__trigger-icon"></span>
        <span class="glyphicon glyphicon-minus collapsable__trigger-icon--collapsed"></span>
      </h3>
    </div>
    <div id="period<%= period_index %>" class="panel-collapse collapse">
      <table class="table">
        <tbody>
          <tr>
          <% slots.each do |group, group_slots| %>
            <td>
              <ul class="list-group">
                <% group_slots.each do |slot| %>
                <li class="list-group-item lead">
                  <span class="label label-primary"><%= slot %></span>
                </li>
                <% end %>
              </ul>
            </td>
          <% break %>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <% break %>
<% end %>

<a href="<%= url_for(administrators_guiders_path) %>" class="btn btn-primary">Save changes</a>
