<div class="row">
  <div class="col-md-10">
    <h2 style="margin-top: 0;">Manage guiders</h2>
  </div>
  <div class="col-md-2">
    <p class="lead pull-right"><a href="#" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span> Add new guider
    </a></p>
  </div>
</div>

<table class="table table-hover" id="guiders">
  <thead>
    <tr class="well guiders__filters">
      <td colspan="4">
        <div class="row">
          <div class="guiders__filters--icon">
            <span class="glyphicon glyphicon-search"></span>
          </div>
          <div class="guiders__filters--input">
            <label for="search"> Name, group, schedule:</label>
            <input type="text" id="search" class="form-control search" placeholder="Search by anything to find a guider">
          </div>

          <div class="guiders__filters--icon">
            <span class="glyphicon glyphicon-calendar"></span>
          </div>
          <div class="guiders__filters--input">
            <label for="search">With appointments during:</label>
            <input type="text" class="form-control" id="daterange" placeholder="Select a date range">
          </div>
        </div>
      </td>
    </tr>

    <tr class="well">
      <th width="5%">
        #<br>
        <input type="checkbox" class="guider__select-all" id="selectall">
      </th>
      <th width="45%">
        Name<br>
        <small><a href="#" class="sort" data-sort="name">Sort by name</a></small>
      </th>
      <th width="50%">
        Groups<br>
        <small><a href="#" class="sort" data-sort="groups">Sort by groups</a></small>
      </th>
    </tr>
  </thead>
  <tbody class="list">
    <% 45.times do %>
      <tr class="guider">
        <td>
          <input type="checkbox" class="guider__checkbox">
        </td>
        <td class="name">
          <%= ['Harry', 'Mary', 'Ben', 'Jo', 'Quentin', 'Jacqui', 'Matt', 'Lucinda'].sample %>
          <%= ['Wilson', 'Beith', 'Barnett', 'Lovell', 'Lucht', 'Guntrip', 'Singh', 'Craig'].sample %>
        </td>
        <td class="groups">
          <%
          groups = ['Southern Rail', 'Trainee', '', '', '', '', '', '', ''].sample(2)
          groups.each do |group|
          %>
            <span class="label label-info"><%= group %></span>
          <%
          end
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="guider__action-panel">
  With the <span class="guider__number-selected">0</span> guiders selected

  <select name="action" class="js-action-list">
    <option value="<%= url_for(administrators_groups_path) %>">Add/remove groups</option>
    <option value="<%= url_for(administrators_guider_slots_path) %>">Manage bookable times</option>
    <option value="<%= url_for(administrators_transfer_path) %>">Transfer appointments to another guider</option>
    <option value="<%= url_for(administrators_remove_path) %>">Remove from system</option>
    <option value="<%= url_for(administrators_message_customers_path) %>">Send a message to their customers</option>
  </select>

  <a class="btn btn-primary js-go-link" href="<%= url_for(administrators_groups_path) %>">Go</a>
</div>

<% content_for :body_end do %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <script>
  $('#daterange').daterangepicker({
      autoUpdateInput: false,
      timePicker: true,
      timePickerIncrement: 10,
      locale: {
          cancelLabel: 'Clear'
      }
  });

  $('#daterange').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY h:mm A') + ' - ' + picker.endDate.format('MM/DD/YYYY h:mm A'));
  });

  $('#daterange').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });

  </script>

  <%= javascript_include_tag "list.js/dist/list" %>
  <script>
    $('.js-action-list').on('change', function() {
      $('.js-go-link').attr('href', $(this).val());
    });

    $('.guider').on('click', function(e) {
      if ($(e.target).is('.guider__checkbox')) {
        return;
      }

      $(this).find('.guider__checkbox').click();
    });

    $('.guider__checkbox').change(function() {
      var func = $(this).is(':checked') ? 'addClass' : 'removeClass';
      $(this).parents('.guider')[func]('guider--selected');

      $('.guider__number-selected').text($('.guider__checkbox:checked').length);

      if ($('.guider__checkbox:checked').length <= 0) {
        $('.guider__action-panel').fadeOut();
      }
      else {
        $('.guider__action-panel').fadeIn();
      }
    });

    $('.guider__select-all').on('change', function() {
      if ($(this).is(':checked')) {
        $('.guider__checkbox').attr('checked', 'checked').change();
      }
      else {
        $('.guider__checkbox').removeAttr('checked').change();
      }
    });

    $('.sort').on('click', function(e) {
      e.preventDefault();
    });

    var options = {
      valueNames: ['name', 'groups', 'slots']
    };

    var guiderList = new List('guiders', options);
  </script>
<% end %>
