<h2>Default appointment times</h2>
<p class="lead">Use the panels below to manage or create the bookable appointment times. These times will be applied automatically to newly created guiders.</p>


<% periods.each_with_index do |period, period_index| %>
  <%
  startDate = period[0].strftime('%A, %b %e')
  endDate = period[1] ? period[1].strftime('%A, %b %e') : 'onwards'

  slots = slots_by_group(period_index)
  %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a class="collapsable__trigger collapsed" role="button" data-toggle="collapse" href="#period<%= period_index %>" aria-expanded="false">
          <%= startDate %> → <%= endDate %>
        </a>

        <span class="glyphicon glyphicon-plus collapsable__trigger-icon"></span>
        <span class="glyphicon glyphicon-minus collapsable__trigger-icon--collapsed"></span>
      </h3>
    </div>
    <div id="period<%= period_index %>" class="panel-collapse collapse">
      <table class="table">
        <thead>
          <tr>
            <th>Default slots <small>(can be overidden on the <%= link_to("guiders management page", administrators_guiders_path) %>)</small></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% slots.each do |group, group_slots| %>
            <td>
              <table class="table">
                              <thead>
                                <tr>
                                  <th>Monday</th>
                                  <th>Tuesday</th>
                                  <th>Wednesday</th>
                                  <th>Thursday</th>
                                  <th>Friday</th>
                                </tr>
                              </thead>

                              <tbody>
                                <tr>
                                  <td>
                                    <ul class="list-group">
                                      <% group_slots.each do |slot| %>
                                      <li class="list-group-item lead">
                                        <span class="label label-primary"><%= slot %></span>
                                      </li>
                                      <% end %>
                                    </ul>
                                  </td>
                                  <td>
                                    <ul class="list-group">
                                      <% group_slots.each do |slot| %>
                                      <li class="list-group-item lead">
                                        <span class="label label-primary"><%= slot %></span>
                                      </li>
                                      <% end %>
                                    </ul>
                                  </td>
                                  <td>
                                    <ul class="list-group">
                                      <% group_slots.each do |slot| %>
                                      <li class="list-group-item lead">
                                        <span class="label label-primary"><%= slot %></span>
                                      </li>
                                      <% end %>
                                    </ul>
                                  </td>
                                  <td>
                                    <ul class="list-group">
                                      <% group_slots.each do |slot| %>
                                      <li class="list-group-item lead">
                                        <span class="label label-primary"><%= slot %></span>
                                      </li>
                                      <% end %>
                                    </ul>
                                  </td>
                                  <td>
                                    <ul class="list-group">
                                      <% group_slots.each do |slot| %>
                                      <li class="list-group-item lead">
                                        <span class="label label-primary"><%= slot %></span>
                                      </li>
                                      <% end %>
                                    </ul>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
            </td>
          <% break %>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
