<%= h2 do %>
  About MoneyHelper
<% end %>

<%= p do %>
  MoneyHelper is backed by government and provides free, impartial guidance on
  your money and pensions. We’re here to help you make your own informed
  decisions, based on your circumstances.
<% end %>

<%= p do %>
  We’re not regulated or authorised by the Financial Conduct Authority (FCA), so cannot:
<% end %>

<ul>
  <li>give legal or regulated financial advice</li>
  <li>recommend specific financial products</li>
  <li>tell you what the best option is for you.</li>
</ul>

<%= p do %>
  If you want personalised money and pensions advice, including specific
  recommendations, you usually need to pay for advice. See our guides about
  Financial advice for more information.
<% end %>

<%= p do %>
<a href="https://www.moneyhelper.org.uk/about-us">MoneyHelper</a> collects and stores personal data for the purpose of delivering
pensions guidance. For full details and your rights, see our <a href="https://www.moneyhelper.org.uk/privacy">privacy policy</a>.
You can also write to Money and Pensions Service, Pension Wise (MoneyHelper),
Borough Hall, 138 Cauldwell Street, Bedford, MK42 9AB.
<% end %>
