<h2 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 18px;line-height: 1.111111111;padding: 15px 0;">
  Preparing for your appointment
</h2>

<%= p do %>
  To make the most of your appointment it would be helpful if you know:
<% end %>

<ul style="color: #0B0C0C;font-family: Helvetica, Arial, sans-serif;margin-top: 15px;margin-bottom: 15px;font-size: 16px;line-height: 1.315789474;">
  <li>
    <%= p do %>
      the value of your pension pot(s) — check your pension paperwork or ask your provider
    <% end %>
  </li>
  <li>
    <%= p do %>
      an estimate of your State Pension — call the Future Pension Centre on 0800 731 0175 for a State Pension statement
    <% end %>
  </li>
  <li>
    <%= p do %>
      any special arrangements attached to your pension pot, eg a guaranteed annuity rate or a guaranteed pot value at a certain time — ask your provider
    <% end %>
  </li>
</ul>

<%= p do %>
  Think about your financial circumstances in general and plans for retirement, eg:
<% end %>

<ul style="color: #0B0C0C;font-family: Helvetica, Arial, sans-serif;margin-top: 15px;margin-bottom: 15px;font-size: 16px;line-height: 1.315789474;">
  <li>
    <%= p do %>
      sources of income like salary, benefits, savings, investments
    <% end %>
  </li>
  <li>
    <%= p do %>
      debts and repayments you might have
    <% end %>
  </li>
  <li>
    <%= p do %>
      when you want to stop working
    <% end %>
  </li>
  <li>
    <%= p do %>
      if you want a fixed or flexible income in retirement
    <% end %>
  </li>
</ul>
