<%= h2 do %>
  Preparing for your appointment
<% end %>

<%= p do %>
  To make the most of your appointment it would be helpful if you know:
<% end %>

<%= ul do %>
  <li>
    <%= p do %>
      what type(s) of pension you have? – ask your pension provider whether you have a defined contribution or a defined benefit pension if you are unsure
    <% end %>
  </li>
  <li>
    <%= p do %>
      the value of your pension pot(s) — check your pension paperwork or ask your provider
    <% end %>
  </li>
  <li>
    <%= p do %>
      an estimate of your State Pension — call the Future Pension Centre on <strong>0800 731 0175</strong> or <a href="https://www.gov.uk/check-state-pension">use the online service</a> for a State Pension statement
    <% end %>
  </li>
  <li>
    <%= p do %>
      if your pension pot contains any special features, eg a guaranteed annuity rate or a guaranteed pot value at a certain time — ask your provider
    <% end %>
  </li>
<% end %>

<%= p do %>
  Think about your financial circumstances in general and plans for retirement, eg:
<% end %>

<%= ul do %>
  <li>
    <%= p do %>
      sources of income like salary, state benefits, savings and investments
    <% end %>
  </li>
  <li>
    <%= p do %>
      debts and repayments you might have
    <% end %>
  </li>
  <li>
    <%= p do %>
      when you want to stop working
    <% end %>
  </li>
  <li>
    <%= p do %>
      if you want a fixed or flexible income in retirement
    <% end %>
  </li>
<% end %>

<%= h2 do %>
  Pension scams
<% end %>

<%= p do %>
  Pension scams are on the increase in the UK. A lifetime’s savings can be lost
  in moments. More information on scams can be found at
  <a href="https://www.moneyhelper.org.uk/scams">moneyhelper.org.uk/scams</a>.
<% end %>
