<%= h2 do %>
  The appointment was changed by an agent
<% end %>

<%= p do %>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @appointment.reference %>
  </strong>
<% end %>

<%= p do %>
  The following details were changed:
<% end %>

<%= ul do %>
  <% @appointment.latest_audit_activity.changed_attributes.each do |key| %>
    <li><%= key %></li>
  <% end %>
<% end %>
