<%= p do %>
  Dear <%= @appointment.name %>,
<% end %>

<%= p do %>
  You recently had a Pension Wise BSL video appointment on <%= @appointment.proceeded_at.to_date.to_s(:govuk_date) %>.
  We'd appreciate your feedback on the interpreter service you received. You also have the option of sending video feedback: <a href="https://actiondeafness.org.uk/feedback-form/">actiondeafness.org.uk/feedback-form</a>
<% end %>

<%= render 'shared/email/money_helper' %>
