<%= p do %>
  Dear <%= @appointment.name %>,
<% end %>

<%= p do %>
  You recently had a Pension Wise BSL appointment on <%= @appointment.proceeded_at.to_date.to_s(:govuk_date) %>.
  We'd appreciate your feedback on the interpreter service you received. You also have the option of sending video feedback: <a href="https://www.pensionwise.gov.uk/bsl-exit-poll">www.pensionwise.gov.uk/bsl-exit-poll</a>
<% end %>

<%= render 'shared/email/money_helper' %>
