<%= h2 do %>
  Your Pension Wise appointment has been cancelled
<% end %>

<%= p do %>
  <strong>Reference number:</strong> <%= @appointment.reference %>
<% end %>

<%= p do %>
  Dear <%= @appointment.name %>,
<% end %>

<% if @appointment.cancelled_by_pension_wise? %>
  <%= p do %>
    Unfortunately, we need to cancel your Pension Wise appointment on <%= @appointment.proceeded_at.to_date.to_s(:govuk_date) %> at <%= "#{@appointment.proceeded_at.to_s(:govuk_time)} (#{@appointment.timezone})" %>. We will contact you to arrange a new date and time within one working day.
  <% end %>
  <%= p do %>
    You can also reply to this email with your availability, <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise/book-a-free-pension-wise-appointment">book a new date and time</a> or have an <a href="https://prd-pwtriage.moneyhelper.org.uk/en/pension-wise-triage/start">online Pension Wise appointment</a> at any time.
.
  <% end %>
<% else %>
  <%= p do %>
    Your Pension Wise appointment on <%= @appointment.proceeded_at.to_date.to_s(:govuk_date) %> at <%= "#{@appointment.proceeded_at.to_s(:govuk_time)} (#{@appointment.timezone})" %> has been cancelled.
  <% end %>
  <%= p do %>
    You can book a new date and time or have an <a href="https://prd-pwtriage.moneyhelper.org.uk/en/pension-wise-triage/start">online Pension Wise appointment</a> at any time.
  <% end %>
<% end %>

<%= render 'shared/email/money_helper' %>
