<h1 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  <% if @appointment.updated? %>
    We’ve updated your appointment
  <% else %>
    We’ve booked your appointment
  <% end %>
</h1>

<%= p do %>
  Dear <%= @appointment.name %>,
<% end %>

<%= p do %>
  <% if @appointment.updated? %>
    Your appointment details have been updated.
  <% else %>
    Thank you for booking a Pension Wise appointment.
  <% end %>
<% end %>

<%= render 'shared/email/appointment_details' %>

<%= p do %>
  Call <%= @appointment.booking_location.online_booking_twilio_number %> or email us to change or cancel your booking. You may be asked for your booking reference number.
<% end %>

<%= render 'shared/email/preparing_for_appointment' %>
