<% content_for(:page_tmtioncontle, t('servce.title', page_title: "Manage appointment for #{@appointment_form.name}")) %>

<% unless @appointment_form.defined_contribution_pot_confirmed %>
<div class="alert alert-warning" role="alert">
  <p>The customer is not certain they have a defined contribution pot.</p>
</div>
<% end %>

<% if @appointment_form.agent %>
<div class="alert alert-warning" role="alert">
  <p>
  This booking was placed by <strong><%= @appointment_form.agent.name %></strong> on behalf of the customer.
  </p>
</div>
<% end %>

<% if @appointment_form.duplicates? %>
  <div class="alert alert-warning t-duplicates" role="alert">
    <p>
      This appointment may be a duplicate of:
    </p>
    <ul class="list-inline">
      <% @appointment_form.duplicates.each do |reference, appointment_id| %>
        <li><%= link_to reference, edit_appointment_path(id: appointment_id), class: 't-duplicate', target: '_blank' %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li><a href="<%= appointments_path %>">Appointments</a></li>
    <li class="active"><%= @appointment_form.name %></li>
  </ol>

  <div class="row">
    <div class="col-md-7">
      <h1>
        Manage appointment for <%= @appointment_form.name %> <small><%= @appointment_form.reference %></small>
      </h1>
    </div>

    <div class="col-md-5 action-buttons">
      <% unless @appointment_form.processed_at? %>
        <%= link_to appointment_process_path(@appointment_form), method: :post, title: 'Mark as processed', class: 'btn btn-info t-process' do %>
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          <span>Mark as processed</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'activities/activity_feed', locals: {
  activities: @activities,
  booking_request: @appointment_form.booking_request
} %>

<div class="row">
  <div class="col-md-4">
    <h2 class="h3">Requested appointment</h2>
    <p>The customer has requested the following time slots, in order of preference.</p>

    <div class="is-chosen SlotPicker--selected" data-module="rescheduling-modal">
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>1</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date t-slot-1-date"><%= @appointment_form.primary_slot.formatted_date %></p>
            <p class="SlotPicker-time t-slot-1-period"><%= @appointment_form.primary_slot.period %></p>
          </div>
        </div>
      </div>

      <% if @appointment_form.realtime? %>
        <%= render partial: 'realtime_rescheduling_modal', locals: { appointment: @appointment_form } %>
      <% end %>

      <% if @appointment_form.secondary_slot %>
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>2</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date t-slot-2-date"><%= @appointment_form.secondary_slot.formatted_date %></p>
            <p class="SlotPicker-time t-slot-2-period"><%= @appointment_form.secondary_slot.period %></p>
          </div>
        </div>
      </div>
      <% end %>

      <% if @appointment_form.tertiary_slot %>
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>3</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date t-slot-3-date"><%= @appointment_form.tertiary_slot.formatted_date %></p>
            <p class="SlotPicker-time t-slot-3-period"><%= @appointment_form.tertiary_slot.period %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <hr>
    <h3 class="h4">Created at</h3>
    <p class="lead">
      <strong><%= @appointment_form.created_at.to_s(:govuk_date) %></strong>
    </p>

    <hr>
    <h3 class="h4">Requested location</h3>
    <p class="lead">
      <strong>
        <a href="https://www.pensionwise.gov.uk/locations/<%= @appointment_form.location_id %>" class="t-location-name">
          <%= guard_missing_location(@appointment_form, :location_name) %>
        </a>
      </strong>
    </p>

    <hr>
    <h3 class="h4">Customer research consent</h3>
    <p class="lead">
      <strong class="t-gdpr-consent"><%= @appointment_form.consent %></strong>
    </p>
    <div data-module="consent-modal">
      <%= render partial: 'gdpr_consent_modal', locals: { booking_request: @appointment_form.booking_request } %>
    </div>

    <% if @appointment_form.postal_confirmation? %>
    <hr>
    <h2 class="h3">Postal address</h2>
    <%= simple_format(@appointment_form.postal_address_lines, class: 't-postal-address') %>
    <p>
      <small><%= link_to 'Edit', edit_booking_request_postal_address_path(@appointment_form.booking_request), class: 't-edit-postal-address' %></small>
    </p>
    <% end %>

    <% if @appointment_form.email? %>
      <hr>
      <%= button_to(
            'Resend email confirmation',
            booking_request_confirmation_path(@appointment_form.booking_request),
            class: 'btn btn-default btn-block t-resend-confirmation',
            data: { confirm: 'Are you sure?' }
        )
      %>
    <% end %>
  </div>

  <%= form_for @appointment_form do |f| %>
    <div class="col-md-8 l-appointment-details">
      <div class="well">
        <% if @appointment_form.errors.any? %>
          <div class="alert alert-danger t-errors" role="alert">
            <h3 class="alert__heading h4">There's a problem</h3>
            <ul>
              <% @appointment_form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <h2 class="h3">Customer details</h2>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control t-name' %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control t-email' %>
            </div>
            <div class="form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: 'form-control t-phone' %>
            </div>
            <div class="form-group">
              <%= f.label :memorable_word %>
              <%= f.text_field :memorable_word, class: 'form-control t-memorable-word' %>
            </div>
            <%= render partial: 'shared/date_of_birth_form_field', locals: { form: f } %>
            <div class="form-group">
              <p>Defined contribution pot confirmed?</p>
              <%= f.label :defined_contribution_pot_confirmed, value: true, class: 'radio-inline' do %>
                  <%= f.radio_button :defined_contribution_pot_confirmed, true, class: 't-defined-contribution-pot-confirmed-yes' %>
                  Yes
              <% end %>

              <%= f.label :defined_contribution_pot_confirmed, value: false, class: 'radio-inline' do %>
                <%= f.radio_button :defined_contribution_pot_confirmed, false, class: 't-defined-contribution-pot-confirmed-dont-know' %>
                Don’t know
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :accessibility_requirements, class: 'checkbox-inline' do %>
                <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements' %> Accessibility requirements?
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="h3">Appointment details</h2>
            <div class="form-group">
              <%= f.label :guider_id %>
              <%= f.select(
                :guider_id,
                guider_options(@appointment_form.booking_location),
                options = {},
                class: 'form-control t-guider'
              ) %>
            </div>
            <div class="form-group">
              <%= f.label :location_id %>
              <%= f.select(
                :location_id,
                location_options(@appointment_form.booking_location),
                options = {},
                class: 'form-control t-location'
              ) %>
            </div>
            <div class="form-group">
              <%= f.label :proceeded_at, 'Date of appointment' %>
              <%= f.text_field(:proceeded_at, class: 'js-date-time-picker t-date form-control', value: @appointment_form.proceeded_at.to_date.to_s(:govuk_date)) %>
            </div>
            <div class="form-group">
              <%= f.label :proceeded_at, 'Time of appointment' %>
              <div class="form-control">
                <%= f.time_select(:proceeded_at, ignore_date: true, minute_step: 5, start_hour: 8, end_hour: 18) %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :additional_info %>
              <%= f.text_area :additional_info, class: 'form-control t-additional-info', rows: 5, maxlength: 500, readonly: true %>
            </div>
            <div class="form-group">
              <div class="well appointment-status-well">
                <%= f.label :status, 'Appointment status' %>
                <%= f.select :status,
                  friendly_options(Appointment.statuses),
                  options = {}, {
                    class: 'form-control t-status',
                    data: { module: 'secondary-status', options: Appointment::SECONDARY_STATUSES.to_json, 'initial-secondary-status' => @appointment_form.secondary_status }
                } %>

                <%= f.select(:secondary_status, [], {}, { class: 't-secondary-status form-control js-secondary-status', data: { 'no-tracking' => true }}) %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.button class: 'btn btn-primary btn-block t-submit' do %>
              Update appointment details for <%= @appointment_form.name %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
