<% content_for(:page_tmtioncontle, t('servce.title', page_title: "Manage appointment for #{@appointment_form.name}")) %>

<% unless @appointment_form.defined_contribution_pot_confirmed %>
<div class="alert alert-warning" role="alert">
  <p>The customer is not certain they have a defined contribution pot.</p>
</div>
<% end %>

<% if @appointment_form.agent %>
<div class="alert alert-warning" role="alert">
  <p>
  This booking was placed by <strong><%= @appointment_form.agent.name %></strong> on behalf of the customer.
  </p>
</div>
<% end %>

<% if @appointment_form.duplicates? %>
  <div class="alert alert-warning t-duplicates" role="alert">
    <p>
      This appointment may be a duplicate of:
    </p>
    <ul class="list-inline">
      <% @appointment_form.duplicates.each do |reference, appointment_id| %>
        <li><%= link_to reference, edit_appointment_path(id: appointment_id), class: 't-duplicate', target: '_blank' %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li><a href="<%= appointments_path %>">Appointments</a></li>
    <li class="active"><%= @appointment_form.name %></li>
  </ol>

  <div class="row">
    <div class="col-md-7">
      <h1>
        Manage appointment for <%= @appointment_form.name %> <small><%= @appointment_form.reference %></small>
      </h1>
    </div>

    <div class="col-md-5 action-buttons">
      <% unless @appointment_form.processed_at? %>
        <%= link_to appointment_process_path(@appointment_form), method: :post, title: 'Mark as processed', class: 'btn btn-info t-process' do %>
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          <span>Mark as processed</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'activities/activity_feed', locals: {
  activities: @activities,
  booking_request: @appointment_form.booking_request
} %>

<div class="row">
  <div class="col-md-4">
    <h2 class="h3">Booked appointment</h2>

    <div class="is-chosen SlotPicker--selected" data-module="rescheduling-modal">
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>1</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date t-slot-1-date"><%= @appointment_form.primary_slot.formatted_date %></p>
            <p class="SlotPicker-time t-slot-1-period"><%= @appointment_form.primary_slot.period %></p>
          </div>
        </div>
      </div>

      <% if @appointment_form.realtime? %>
        <%= render partial: 'realtime_rescheduling_modal', locals: { appointment: @appointment_form } %>
      <% end %>

      <% if @appointment_form.secondary_slot %>
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>2</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date t-slot-2-date"><%= @appointment_form.secondary_slot.formatted_date %></p>
            <p class="SlotPicker-time t-slot-2-period"><%= @appointment_form.secondary_slot.period %></p>
          </div>
        </div>
      </div>
      <% end %>

      <% if @appointment_form.tertiary_slot %>
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>3</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date t-slot-3-date"><%= @appointment_form.tertiary_slot.formatted_date %></p>
            <p class="SlotPicker-time t-slot-3-period"><%= @appointment_form.tertiary_slot.period %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <hr>
    <h3 class="h4">Created at</h3>
    <p class="lead">
      <strong><%= @appointment_form.created_at.in_time_zone('London').to_s(:govuk_date) %></strong>
    </p>

    <hr>
    <h3 class="h4">Requested location</h3>
    <p class="lead">
      <strong>
        <a href="https://www.pensionwise.gov.uk/locations/<%= @appointment_form.location_id %>" class="t-location-name">
          <%= guard_missing_location(@appointment_form, :location_name) %>
        </a>
      </strong>
    </p>

    <hr>
    <h3 class="h4">Customer research consent</h3>
    <p class="lead">
      <strong class="t-gdpr-consent"><%= @appointment_form.consent %></strong>
    </p>
    <div data-module="consent-modal">
      <%= render partial: 'gdpr_consent_modal', locals: { booking_request: @appointment_form.booking_request } %>
    </div>

    <% if @appointment_form.postal_confirmation? %>
    <hr>
    <h2 class="h3">Postal address</h2>
    <%= simple_format(@appointment_form.postal_address_lines, class: 't-postal-address') %>
    <p>
      <small><%= link_to 'Edit', edit_booking_request_postal_address_path(@appointment_form.booking_request), class: 't-edit-postal-address' %></small>
    </p>
    <% end %>

    <% if @appointment_form.email? %>
      <hr>
      <%= button_to(
            'Resend email confirmation',
            booking_request_confirmation_path(@appointment_form.booking_request),
            class: 'btn btn-default btn-block t-resend-confirmation',
            data: { confirm: 'Are you sure?' }
        )
      %>
    <% end %>
  </div>

  <%= form_for @appointment_form, layout: :basic, errors: { icons: false } do |f| %>
    <div class="col-md-8 l-appointment-details">
      <div class="well">
        <% if @appointment_form.errors.any? %>
          <div class="alert alert-danger t-errors" role="alert">
            <h3 class="alert__heading h4">There's a problem</h3>
            <ul>
              <% @appointment_form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-6" data-module="checkbox-toggle">
            <h2 class="h3">Customer details</h2>
            <%= f.text_field :name, class: 'form-control t-name' %>
            <%= f.text_field :email, class: 'form-control t-email' %>
            <%= f.text_field :phone, class: 'form-control t-phone' %>
            <%= f.text_field :memorable_word, class: 'form-control t-memorable-word' %>

            <%= render partial: 'shared/date_of_birth_form_field', locals: { form: f } %>

            <div class="form-group">
              <p><b>Defined contribution pot confirmed?</b></p>
              <%= f.radio_button :defined_contribution_pot_confirmed, true, label: 'Yes', class: 't-defined-contribution-pot-confirmed-yes' %>
              <%= f.radio_button :defined_contribution_pot_confirmed, false, label: 'Don’t know', class: 't-defined-contribution-pot-confirmed-dont-know' %>
            </div>

            <hr>
            <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements', label: 'Do you require an adjustment to access our service?' %>
            <%= f.check_box :recording_consent, class: 't-recording-consent', label: 'Appointment recording consent?' %>

            <%= f.check_box :third_party, class: 't-third-party', label: 'Third party appointment?', data: { target: 'consent' } %>
            <%= f.fields_for :booking_request, fieldset: false  do |booking_subform| %>
            <div id="consent">
              <p><strong>This appointment will be delivered to a third party on behalf of the data subject:</strong></p>
              <div class="form-group">
                <%= booking_subform.text_field :data_subject_name, autocomplete: false, class: 't-data-subject-name', label: required_label('Name'), placeholder: 'Name' %>
                <%= booking_subform.text_field(
                    :data_subject_date_of_birth,
                    label: required_label('Date of birth'),
                    class: 'form-control input-md-2 t-data-subject-date-of-birth js-date-time-picker',
                    placeholder: 'eg 01/01/1950',
                    data: {
                      config: {
                        showDropdowns: true,
                        autoUpdateInput: false,
                        minDate: '01/01/1920',
                        maxDate: '01/01/1976',
                        locale: { format: 'DD/MM/YYYY' }
                      }
                    }
                  )
                %>
              </div>

              <%= booking_subform.check_box :data_subject_consent_obtained, class: 't-data-subject-consent-obtained', data: { target: 'data-subject-consent' } %>
              <div class="col-md-offset-1" id="data-subject-consent">
                <% if @appointment_form.data_subject_consent_evidence.attached? %>
                  <%= link_to rails_blob_path(@appointment_form.data_subject_consent_evidence, disposition: 'attachment'), class: 'btn btn-info t-consent-download' do %>
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                    <span><%= @appointment_form.data_subject_consent_evidence.filename %></span>
                  <% end %>
                  <hr>
                <% end %>

                <%= booking_subform.file_field :data_subject_consent_evidence, class: 't-data-subject-consent-evidence' %>
              </div>

              <%= booking_subform.check_box :power_of_attorney, class: 't-power-of-attorney', data: { target: 'power-of-attorney' } %>
              <div class="col-md-offset-1" id="power-of-attorney">
                <% if @appointment_form.power_of_attorney_evidence.attached? %>
                  <%= link_to rails_blob_path(@appointment_form.power_of_attorney_evidence, disposition: 'attachment'), class: 'btn btn-info t-power-of-attorney-download' do %>
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                    <span><%= @appointment_form.power_of_attorney_evidence.filename %></span>
                  <% end %>
                  <hr>
                <% end %>

                <%= booking_subform.file_field :power_of_attorney_evidence %>
              </div>

              <%= booking_subform.check_box :email_consent_form_required, class: 't-email-consent-form-required', data: { target: 'email-consent' } %>
              <div id="email-consent">
                <%= booking_subform.text_field :email_consent, autocomplete: 'off', class: 't-email-consent', label: 'Consent email', placeholder: 'A consent form is sent to this email' %>
              </div>

              <%= booking_subform.check_box :printed_consent_form_required, class: 't-printed-consent-form-required', data: { target: 'printed-consent' } %>
              <div id="printed-consent">
                <h2 class="h4" data-module="postcode-lookup"
                               data-postcode-api-key="<%= postcode_api_key %>"
                               data-lookup-input="#consent-postcode-lookup-input"
                               data-lookup-button="#consent-postcode-lookup-button"
                               data-results-container="#consent-postcode-lookup-results-container"
                               data-output-field-prefix="#appointment_booking_request_attributes_consent"
                               >Printed consent form address</h2>
                <div class="form-group form-inline postcode-lookup" id="consent-postcode-lookup">
                  <label for="appointment_summary_lookup">Postcode or address to search for</label><br>
                  <input class="form-control input-md-3 add-right-margin t-printed-consent-form-postcode-lookup" placeholder="Enter postcode or address" type="text" id="consent-postcode-lookup-input" />
                  <button class="btn btn-success btn-sm" onclick="return false" id="consent-postcode-lookup-button">Find UK address</button>
                </div>
                <div class="form-group form-inline" id="consent-postcode-lookup-results-container"></div>

                <%= booking_subform.text_field :consent_address_line_one, autocomplete: 'off', class: 't-consent-address-line-one', label: 'Building and street', placeholder: 'Address line one' %>
                <%= booking_subform.text_field :consent_address_line_two, autocomplete: 'off', class: 't-consent-address-line-two', use_label: false, placeholder: 'Address line two' %>
                <%= booking_subform.text_field :consent_address_line_three, autocomplete: 'off', class: 't-consent-address-line-three', use_label: false, placeholder: 'Address line three' %>
                <%= booking_subform.text_field :consent_town, autocomplete: 'off', class: 't-consent-town', label: 'Town', placeholder: 'Town' %>
                <%= booking_subform.text_field :consent_county, autocomplete: 'off', class: 't-consent-county', label: 'County (optional)', placeholder: 'County' %>
                <%= booking_subform.text_field :consent_postcode, autocomplete: 'off', class: 't-consent-postcode', label: 'Postcode', placeholder: 'Postcode' %>
              </div>
            </div>
          <% end %>
          </div>

          <div class="col-md-6">
            <h2 class="h3">Appointment details</h2>
            <div class="form-group">
              <%= f.select(
                :guider_id,
                guider_options(@appointment_form.booking_location),
                options = {},
                class: 'form-control t-guider'
              ) %>
            </div>
            <div class="form-group">
              <%= f.select(
                :location_id,
                location_options(@appointment_form.booking_location),
                options = {},
                class: 'form-control t-location'
              ) %>
            </div>
            <div class="form-group">
              <%= f.text_field(:proceeded_at, label: 'Date of appointment', class: 'js-date-time-picker t-date form-control', value: @appointment_form.proceeded_at.to_date.to_s(:govuk_date)) %>
            </div>
            <div class="form-group">
              <%= f.label :proceeded_at, 'Time of appointment' %>
              <div class="form-control">
                <%= f.time_select(:proceeded_at, ignore_date: true, minute_step: 5, start_hour: 8, end_hour: 18) %>
              </div>
            </div>
            <div class="form-group">
              <%= f.text_area :additional_info, class: 'form-control t-additional-info', rows: 5, maxlength: 500, readonly: true %>
            </div>
            <div class="form-group">
              <div class="well appointment-status-well">
                <%= f.select :status,
                  friendly_options(Appointment.statuses),
                  options = {}, {
                    class: 'form-control t-status',
                    data: { module: 'secondary-status', options: Appointment::SECONDARY_STATUSES.to_json, 'initial-secondary-status' => @appointment_form.secondary_status }
                } %>

                <%= f.select(:secondary_status, [], {}, { class: 't-secondary-status form-control js-secondary-status', data: { 'no-tracking' => true }}) %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.button "Update appointment details for #{@appointment_form.name}", class: 'btn-block t-submit', context: :primary %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
