<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Appointment planner</a></li>
    <li class="active">Appointments</li>
  </ol>

  <h1>Appointments</h1>
</div>

<nav class="t-search filters">
  <div class="panel panel-default">
    <header class="panel-heading">
      <%= form_for @search, url: appointments_path, as: :search, method: :get, html: { class: 'inline form-inline' } do |f| %>
        <ul class="nav nav-compact nav-pills">
          <li>
            <%= f.label :search_term, 'Customer / Reference' %>
            <%= f.text_field :search_term, class: 't-search-term form-control filters__search-term' %>
          </li>
          <li>
            <%= f.label :appointment_date, 'Date', class: 'add-left-margin' %>
            <%= f.text_field :appointment_date, class: 'js-picker t-appointment-date form-control filters__date' %>
          </li>
          <li>
            <%= f.label :status, class: 'sr-only' %>
            <%= f.select :status, friendly_options(Appointment.statuses), { include_blank: 'All Statuses' }, { class: 'form-control t-status add-left-margin filters__filter' } %>
          </li>
          <li class="add-left-margin">
           <%= f.button class: 't-submit btn btn-default' do %>
             <span aria-hidden="true" class="glyphicon glyphicon-search"></span> Search
           <% end %>
          </li>
        </ul>
      <% end %>
    </header>
  </div>
</nav>

<div class="row">
  <div class="col-md-12">
    <% if @appointments.page.empty? %>
      <p class="no-content t-notice">No appointments.</p>
    <% else %>
      <%= paginate @appointments.entities %>

      <table class="appointments table table-bordered table-striped">
        <thead>
          <tr class="table-header">
            <th>Date of appointment</th>
            <th>Time of appointment</th>
            <th>Customer name</th>
            <th>Guider</th>
            <th>Location</th>
            <th>Reference</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.page.each do |appointment| %>
            <tr class="t-appointment">
              <td>
                <%= appointment.proceeded_at.strftime('%A, %b %e') %>
              </td>
              <td>
                <%= appointment.proceeded_at.strftime('%H:%M') %>
              </td>
              <td>
                <%= appointment.name %>
              </td>
              <td>
                <%= appointment.guider_name %>
              </td>
              <td>
                <%= appointment.location_name %>
              </td>
              <td>
                <%= appointment.reference %>
              </td>
              <td>
                <%= appointment.status.titleize %>
              </td>
              <td>
                <%= link_to('Manage', edit_appointment_path(appointment), class: 'btn btn-info t-edit') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @appointments.entities %>
    <% end %>
  </div>
</div>
