<% content_for(:page_title, t('service.title', page_title: 'Appointments')) %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li class="active">Appointments</li>
  </ol>

  <h1>Appointments</h1>
</div>

<div class="t-search filters">
  <div class="panel panel-default">
    <header class="panel-heading">
      <%= form_for @search, url: appointments_path, as: :search, method: :get, html: { class: 'inline form-inline' } do |f| %>
        <ul class="nav nav-compact nav-pills filters__nav">
          <li class="filters__item">
            <%= f.label :search_term, 'Customer / Reference', class: 'filters__label' %><%= f.text_field :search_term, class: 't-search-term form-control filters__form-control' %>
          </li>
          <li class="filters__item">
            <%= f.label :appointment_date, 'Date', class: 'filters__label' %><%= f.text_field :appointment_date, class: 'js-date-range-picker t-appointment-date form-control filters__form-control', readonly: true %>
          </li>
          <li class="filters__item">
            <%= f.label :status, class: 'filters__label' %><%= f.select :status, friendly_options(Appointment.statuses), { include_blank: 'All Statuses' }, { class: 'form-control filters__form-control t-status' } %>
          </li>
          <li class="filters__item">
            <%= f.label :location, class: 'filters__label' %><%= f.select :location, location_options(booking_location), { include_blank: 'All Locations' }, { class: 'form-control filters__form-control t-location' } %>
          </li>
          <li class="filters__item">
            <%= f.label :guider, class: 'filters__label' %><%= f.select :guider, guider_options(booking_location), { include_blank: 'All Guiders' }, { class: 'form-control filters__form-control t-guider' } %>
          </li>
          <li class="filters__item">
            <%= f.label :processed, class: 'filters__label' %><%= f.select :processed, [['No', 'false'], ['Yes', 'true']], {}, { class: 'form-control filters__form-control t-processed' } %>
          </li>
          <li class="filters__item">
           <%= f.button class: 't-submit btn btn-default filters__button' do %>
             <span aria-hidden="true" class="glyphicon glyphicon-search"></span> Search
           <% end %>
          </li>
        </ul>
      <% end %>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @appointments.page.empty? %>
      <p class="no-content t-notice">No appointments.</p>
    <% else %>
      <%= paginate @appointments.entities %>

      <table class="appointments table table-bordered table-striped">
        <caption><span class="sr-only">Appointments</span></caption>
        <thead>
          <tr class="table-header">
            <th>Appointment</th>
            <th>Customer name</th>
            <th>Guider</th>
            <th>Location</th>
            <th>Reference</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.page.each do |appointment| %>
            <tr class="t-appointment">
              <td>
                <%= appointment.proceeded_at.to_s(:govuk_date) %>
                <% if appointment.realtime? %>
                  <span class="badge"><span class="glyphicon glyphicon-time"></span></span>
                <% end %>
              </td>
              <td>
                <%= appointment.name %>
              </td>
              <td>
                <%= guard_missing_location(appointment, :guider_name) %>
              </td>
              <td>
                <%= guard_missing_location(appointment, :location_name) %>
              </td>
              <td>
                <%= appointment.reference %>
              </td>
              <td>
                <%= appointment.status.titleize %>
              </td>
              <td>
                <%= link_to(edit_appointment_path(appointment), title: 'Manage', class: 'btn btn-info t-edit') do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  <span class="sr-only">Manage</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @appointments.entities %>
    <% end %>
  </div>
</div>
