<%= h2 do %>
  Would you still like a Pension Wise appointment?
<% end %>

<%= p do %>
  <strong>Reference number:</strong> <%= @appointment.reference %>
<% end %>

<%= p do %>
  Dear <%= @appointment.name %>,
<% end %>

<%= p do %>
  We noticed you missed your Pension Wise appointment on <%= @appointment.proceeded_at.to_date.to_s(:govuk_date) %> at <%= "#{@appointment.proceeded_at.to_s(:govuk_time)} (#{@appointment.timezone})" %>.
<% end %>

<%= p do %>
  You can reply to this email with your availability, <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise/book-a-free-pension-wise-appointment">book a new date and time</a> or have an <a href="https://prd-pwtriage.moneyhelper.org.uk/en/pension-wise-triage/start">online Pension Wise appointment</a> at any time.
<% end %>

<%= render 'shared/email/money_helper' %>
