<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Appointment planner</a></li>
    <li class="active t-name">Book new appointment</li>
  </ol>

  <h1>
    Book new appointment
  </h1>
</div>


<div class="row">
  <div class="col-md-12">
    <h3>Customer eligibility</h3>

    <div class="row">
    <div class="col-md-4">
    <div class="form-group ">
        <fieldset>
          <label>Your age</label>
          <br>

          <label class="checkbox" for="booking_request_appointment_type_under-50">
              <input class="t-appointment-type-1" type="radio" value="under-50" name="booking_request[appointment_type]" id="booking_request_appointment_type_under-50" />
              Under 50
</label>
          <label class="checkbox" for="booking_request_appointment_type_50-54">
              <input class="t-appointment-type-2" type="radio" value="50-54" name="booking_request[appointment_type]" id="booking_request_appointment_type_50-54" />
              50 to 54
</label>
          <label class="checkbox" for="booking_request_appointment_type_55-plus">
            <input class="t-appointment-type-3" type="radio" value="55-plus" name="booking_request[appointment_type]" id="booking_request_appointment_type_55-plus" />
            55 or over
</label>        </fieldset>
      </div>
      </div>


<div class="col-md-4">
      <div class="form-group ">
        <fieldset>
          <label>I have a defined contribution pension pot (not a final salary or career average pension)</label>


          <label class="block-label checkbox" for="booking_request_dc_pot_yes">
              <input class="t-dc-pot-1" type="radio" value="yes" name="booking_request[dc_pot]" id="booking_request_dc_pot_yes" />
              Yes
</label>
          <label class="block-label checkbox" for="booking_request_dc_pot_no">
              <input class="t-dc-pot-2" type="radio" value="no" name="booking_request[dc_pot]" id="booking_request_dc_pot_no" />
              No
</label>
          <label class="block-label checkbox" for="booking_request_dc_pot_not-sure">
            <input class="t-dc-pot-3" type="radio" value="not-sure" name="booking_request[dc_pot]" id="booking_request_dc_pot_not-sure" />
            Not sure
</label>        </fieldset>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row js-show-if-eligible">
  <div class="col-md-4">
    <h3>Customer details</h3>

    <div class="form-group ">
        <label class="form-label" for="booking_request_first_name">First name</label>
        <input class="t-first-name form-control" type="text" name="booking_request[first_name]" id="booking_request_first_name" />
      </div>

      <div class="form-group ">
        <label class="form-label" for="booking_request_last_name">Last name</label>
        <input class="t-last-name form-control" type="text" name="booking_request[last_name]" id="booking_request_last_name" />
      </div>

      <div class="form-group ">
        <label class="form-label" for="booking_request_email">
          Email
</label>
  <p class="help-block">We will send you a reminder of your appointment details.</p>

        <input class="t-email form-control" type="text" name="booking_request[email]" id="booking_request_email" />
      </div>

      <div class="form-group ">
        <label class="form-label" for="booking_request_telephone_number">Telephone number</label>
        <input class="t-telephone-number form-control" type="text" name="booking_request[telephone_number]" id="booking_request_telephone_number" />
      </div>

      <div class="form-group ">
        <label class="form-label" for="booking_request_memorable_word">
          Your memorable word
        </label>
        <p class="help-block">Our guidance specialist will repeat this word when they call so you know it’s us.</p>
        <input class="t-memorable-word form-control" type="text" name="booking_request[memorable_word]" id="booking_request_memorable_word" />
      </div>

      <div class="form-group ">
        <label for="booking_request_notes">
          <label class="form-label" for="booking_request_notes">Any other information</label>
          <p class="help-block">Is the customer hard of hearing? Is English their first language?</p>
          <textarea class="form-control t-notes" rows="5" name="booking_request[notes]" id="booking_request_notes">
</textarea>
</label>      </div>

      <div class="form-group ">
        <label for="booking_request_accessibility_requirements">
          <input name="booking_request[accessibility_requirements]" type="hidden" value="0" /><input class="t-accessibility-requirements" type="checkbox" value="1" name="booking_request[accessibility_requirements]" id="booking_request_accessibility_requirements" /> I have accessibility requirements
</label>      </div>

      <div class="form-group ">
        <label for="booking_request_opt_in">
          <input name="booking_request[opt_in]" type="hidden" value="0" /><input class="t-opt-in" type="checkbox" value="1" name="booking_request[opt_in]" id="booking_request_opt_in" /> I accept the <a href="/privacy" target="_blank">terms and conditions</a>
</label>      </div>

  </div>

  <div class="col-md-8">
    <h3>Appointment time</h3>

    <%= image_tag "slots.png", style: "max-width:100%;" %>
  </div>
</div>

<% content_for :body_end do %>
  <%= javascript_include_tag "moj.slot-picker/vendor/modernizr.custom.44058.js" %>
  <%= javascript_include_tag "moj.slot-picker/vendor/handlebars-v1.3.0.js" %>

  <script>var moj = moj || { Modules: {}, Helpers: {} };</script>
  <%= javascript_include_tag "moj.slot-picker/dist/javascripts/moj.slot-picker.js" %>
  <%= javascript_include_tag "moj.slot-picker/dist/javascripts/moj.date-slider.js" %>
  <script>moj.Modules.SlotPicker.init();</script>
  <script>moj.Modules.DateSlider.init();</script>

  <script>
    var ageEligible = false;
    var potEligible = false;
    refresh();

    $('input[name="booking_request[appointment_type]"]').change(function() {
      if ($(this).val() == '50-54' || $(this).val() == '55-plus') {
        ageEligible = true;
      }
      else {
        ageEligible = false;
      }

      refresh();
    });

    $('input[name="booking_request[dc_pot]"]').change(function() {
      if ($(this).val() == 'yes' || $(this).val() == 'not-sure') {
        potEligible = true;
      }
      else {
        potEligible = false;
      }

      refresh();
    });

    function refresh() {
      if (potEligible && ageEligible) {
        $('.js-show-if-eligible').fadeIn('fast');
      }
      else {
        $('.js-show-if-eligible').hide();
      }
    }
  </script>
<% end %>
