<% content_for(:head) do %>
  <%= stylesheet_link_tag "fullcalendar/dist/fullcalendar" %>
  <%= stylesheet_link_tag "fullcalendar-scheduler/dist/scheduler" %>

  <script>
  var guiders = <%= guiders_hash %>
  </script>
<% end %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Appointment planner</a></li>
    <li><a href="<%= root_path %>">Appointments</a></li>
    <li><a href="<%= root_path %>">Customer name</a></li>
    <li class="active">Find a slot</li>
  </ol>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead"><a href="<%= edit_appointment_path(params[:id]) %>">
      <span class="glyphicon glyphicon-chevron-left"></span> Cancel, back to guiders
    </a></p>

    <p class="lead">Choose an available slot for the appointment:</p>
  </div>

  <div class="col-md-12">
    <br>
    <p>
      <a href="<%= edit_appointment_path(params[:id]) %>" class="btn btn-primary btn-block">Confirm slot and continue</a>
    </p>
    <div id="calendar-slot-finder" class="scheduler" data-name="Customer name"></div>
  </div>
</div>
