<%= h2 do %>
  We’d appreciate your feedback
<% end %>

<%= p do %>
  Dear <%= @appointment.name %>,
<% end %>

<%= p do %>
  You recently had a Pension Wise video appointment on <%= @appointment.proceeded_at.to_date.to_s(:govuk_date) %>.
<% end %>

<%= p do %>
  <a href="https://www.pensionwise.gov.uk/video-exit-poll">www.pensionwise.gov.uk/video-exit-poll</a>
<% end %>

<%= p do %>
  The information you provide on this feedback form will be used for service improvement.
<% end %>
