<%= render layout: 'layouts/base' do %>
  <% content_for(:content) do %>

    <div class="page-header">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>">Appointment planner</a></li>
        <li class="active">Administration</li>
      </ol>

      <h1>Administration</h1>
    </div>

    <ul class="nav nav-pills admin__navigation">
      <li role="presentation" class="<%= 'active' if current_page?('guiders') %>">
        <a href="<%= administrators_guiders_path %>">
          Manage guiders<br>
          <small>Add staff, manage schedules, groups</small>
        </a>
      </li>
      <li role="presentation" class="<%= 'active' if current_page?('slots') %>">
        <a href="<%= administrators_slots_path %>">
          Default appointment times<br>
          <small>The default bookable appointments for guiders</small>
        </a>
      </li>
    </ul>

    <div class="row">
      <br>
      <div class="col-md-12 l-admin">
        <%= yield %>
      </div>
    </div>
  <% end %>
<% end %>
