<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <% if ENV['BUGMUNCHER_KEY'] %>
    <script type="text/javascript">
      var bugmuncher_options = {
        api_key: "<%= ENV['BUGMUNCHER_KEY'] %>"
      };
      (function(){
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        var d = new Date(); var n = '?'+d.getFullYear()+(d.getMonth()+1)+d.getDate()+d.getHours();
        e.setAttribute("src", "//cdn.bugmuncher.com/bugmuncher.js"+n);
        document.getElementsByTagName("head")[0].appendChild(e);
      })();
    </script>
  <% end %>
<% end %>

<%= content_for :app_title do %>
  Planner
<% end %>

<%= content_for :navbar_items do %>
  <% if current_user.agent_manager? %>
  <li>
    <%= link_to 'Search', agent_search_index_path %>
  </li>
  <% end %>
  <% if current_user.booking_manager? %>
  <li>
    <%= link_to 'Book', locations_path %>
  </li>
  <li>
    <%= link_to 'Appointments', appointments_path %>
  </li>
  <li>
    <%= link_to 'Calendar', my_appointments_path %>
  </li>
  <li>
    <%= link_to 'Schedules', schedules_path %>
  </li>
  <% end %>

  <% if current_user.administrator? %>
    <li class="dropdown quick-search t-quick-search" data-module="quick-search">
      <a href="#" class="dropdown-toggle js-quick-search-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Find an appointment by reference</span>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu quick-search__dropdown">
        <form method="get" action="/admin/search" class="form-inline">
          <div class="form-group quick-search__form-group">
            <label for="quick-search-input" class="quick-search__label"><span class="sr-only">Reference</span>
              <input type="text" id="quick-search-input" class="form-control input-sm quick-search__input js-quick-search-input" name="id" placeholder="Reference">
            </label>
          </div>
          <input type="submit" class="quick-search__button btn btn-primary btn-xs t-quick-search-button" value="Search">
        </form>
      </div>
    </li>

    <%= form_for current_user, html: { class: 'navbar-form navbar-right js-location-form' } do |f| %>
      <div class="form-group">
        <%= f.select :organisation_content_id,
              options_for_select(booking_location_options, current_user.organisation_content_id),
              {},
              { class: 't-location js-location form-control input-sm' }
        %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% unless Rails.env.test? %>
  <% content_for :content do %>
    <p class="alert alert-warning"><strong>Notice:</strong> we are currently experiencing delays delivering email.</p>

    <%= yield %>
  <% end %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
  <%= pusher_setup %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
