<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <% if ENV['BUGMUNCHER_KEY'] %>
    <script type="text/javascript">
      var bugmuncher_options = {
        api_key: "<%= ENV['BUGMUNCHER_KEY'] %>"
      };
      (function(){
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        var d = new Date(); var n = '?'+d.getFullYear()+(d.getMonth()+1)+d.getDate()+d.getHours();
        e.setAttribute("src", "//cdn.bugmuncher.com/bugmuncher.js"+n);
        document.getElementsByTagName("head")[0].appendChild(e);
      })();
    </script>
  <% end %>
<% end %>

<%= content_for :app_title do %>
  Appointment Planner
<% end %>

<%= content_for :navbar_items do %>
  <% if current_user.agent_manager? %>
  <li>
    <%= link_to 'Search', agent_search_index_path %>
  </li>
  <% end %>
  <% if current_user.booking_manager? %>
  <li>
    <%= link_to 'Booking Requests', root_path %>
  </li>
  <li>
    <%= link_to 'Appointments', appointments_path %>
  </li>
  <li>
    <%= link_to 'Schedules', schedules_path %>
  </li>
  <% end %>

  <% if current_user.administrator? %>
    <%= form_for current_user, html: { class: 'navbar-form navbar-right js-location-form' } do |f| %>
      <div class="form-group">
        <%= f.select :organisation_content_id,
              options_for_select(booking_location_options, current_user.organisation_content_id),
              {},
              { class: 't-location js-location' }
        %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
